<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    A FACT TO REMEMBER 

    </h1>
  </div>
</div>

    <p>
The tithe you have just set aside is no longer yours. It is God’s part of the income, the revenue, and/or what you have acquired. It is holy. It is for the exclusive use of the Lord toward His priestly work in the church. 
</p>

 <div class="cont">
        <h4 class="question">
         PEACE AND MANY BLESSINGS TO YOU!
        </h4></div>



</div>
</div>



<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day6_4']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day6_6']">Next->></a></div>
</div>
</section>
