<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div [hidden]="resetPasswordToastErrorHidden" class="alert alert-danger" role="alert">Oops! Something went wrong. Please try again.</div>
      <div [hidden]="toastSuccessfulResetPasswordMessage" class="alert alert-success" role="alert">Great! You have successfully sent a reset password resquest.</div>
        <form>
          <h5 class="fade-in">Change password.</h5>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #name="ngModel">
          </div>

          <div class="form-group">
            <label for="oldPassword">Current Password</label>
            <input type="password" class="form-control" id="oldPassword" required [(ngModel)]="model.oldPassword" name="oldPassword" #password="ngModel">
          </div>

          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" required [(ngModel)]="model.newPassword" name="newPassword" #newPassword="ngModel">
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" novalidate class="form-control" id="confirmPassword" required [(ngModel)]="model.confirmPassword"
              name="confirmPassword" #confirmPassword="ngModel">
          </div>

          <button type="submit" class="btn btn-default center-block custom-button-color" (click)="resetPassword()">Reset Password</button>
        </form>
    </div>
  </div>
</div>
