

  <div class="row">
    <div class="col-md-9">
      <h5>Hi {{name.auth.email}},! Welcome to Tithing to grow in Christ</h5>
    </div>
    <div class="col-md-3">
      <div> <button (click)="logout()" class="basic-btn">Logout</button></div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
     
    <!--accordian begins-->
    <app-content-menu></app-content-menu>
<!--accordian ends-->
    </div>
    <div class="col-md-8">
      <!--main content here-->
      <a [routerLink]="['content/day1']">Day 1</a>
<router-outlet></router-outlet>
     
      </div>
  </div>





