
 <section class="first">

<div class="container">
    <div class="row" >  
  <div class="col-md-8" id="left_side"><h4>Welcome to Tithing to grow in Christ</h4>
</div>
<div class="col-md-3">  <div class="logd_as">Logged in as {{ name.auth.email }}</div></div>
  <div class="col-md-1"><a (click)="logout()" class="bas_btn"><span>| Logout</span></a></div>
   </div>
</div>
</section>
 <section class="members_sec" [@fallIn]='state'>


  <div class="row">

    <div class="col-md-4" id="leftSide">
     
    <!--accordian begins-->
      <div class="bd-example" data-example-id="">
        <div id="accordion" role="tablist" aria-multiselectable="true">
         
          <div class="card" >
            
<!--a [routerLink]="['day1']"-->
            <a class="card-header" role="tab" id="headingOne" [routerLink]="['day1']">
              <div class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                  class="collapsed">
          <i class="fa fa-calendar" aria-hidden="true"></i>
             <h3> Day 1</h3>
            <p>The aim of church tithing</p>
        </a>

              </div>
            </a>
<!--/a-->
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
              <div class="card-block">
                <ul class="list-group">
                  <li class="list-group-item"><a [routerLink]="['day1_1']">Being purpose driven with your tithe</a></li>
                  <li class="list-group-item"><a [routerLink]="['day1_2']">The spiritual matter</a></li>
                   <li class="list-group-item"><a [routerLink]="['day1_3']">The importance of spiritual matter</a></li>
                    <li class="list-group-item"><a [routerLink]="['day1_4']">Spiritual impartation</a></li>
                     <li class="list-group-item"><a [routerLink]="['day1Donate']">Donation</a></li>
                      <li class="list-group-item"><a [routerLink]="['day1_5']">Test yourself</a></li>
                       <li class="list-group-item"><a [routerLink]="['acts']">ACTS</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            
            <a class="card-header" role="tab" id="headingTwo" [routerLink]="['day2']">
              <div class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne"
                  class="collapsed">
          <i class="fa fa-calendar" aria-hidden="true"></i>
            <h3> Day 2</h3>
            <p>The objective of church tithing</p>
        </a>
                <!--i class="fa fa-angle-right" aria-hidden="true"></i-->
              </div>
            </a>
        
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
              <div class="card-block">
                <ul class="list-group">
                  <li class="list-group-item">  <a [routerLink]="['day2_1']">Acknowledging God's personal influence in your life</a></li>
                  <li class="list-group-item">  <a [routerLink]="['day2_2']">The spiritual matter</a></li>
                   <li class="list-group-item">  <a [routerLink]="['day2_3']">The importance of spiritual matter</a></li>
                    <li class="list-group-item">  <a [routerLink]="['day2_4']">Spiritual impartation</a></li>
                     <li class="list-group-item">  <a [routerLink]="['dayDonations']">Donation</a></li>
                      <li class="list-group-item">  <a [routerLink]="['day2_5']">Test yourself</a></li>
                       <li class="list-group-item">  <a [routerLink]="['acts']">ACTS</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <a class="card-header" role="tab" id="headingThree" [routerLink]="['day3']">
              <div class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseOne"
                  class="collapsed">
          <i class="fa fa-calendar" aria-hidden="true"></i>
            <h3> Day 3</h3>
            <p>The Goal of tithing</p>
        </a>
                <!--i class="fa fa-angle-right" aria-hidden="true"></i-->
              </div>
            </a>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
              <div class="card-block">
                <ul class="list-group">
                  <li class="list-group-item"><a [routerLink]="['day3_1']">Reckoning with the spiritual benefits of your tithing</a></li>
                  <li class="list-group-item"><a [routerLink]="['day3_2']">The spiritual matter</a></li>
                   <li class="list-group-item"><a [routerLink]="['day3_3']">The importance of spiritual matter</a></li>
                    <li class="list-group-item"><a [routerLink]="['day3_4']">Spiritual impartation</a></li>
                     <li class="list-group-item"><a [routerLink]="['dayDonations']">Donation</a></li>
                      <li class="list-group-item"><a [routerLink]="['day3_5']">Test yourself</a></li>
                       <li class="list-group-item"><a [routerLink]="['acts']">ACTS</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <div class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseOne"
                  class="collapsed">
          <i class="fa fa-calendar" aria-hidden="true"></i>
            <h3> Day 4</h3>
            <p>The purpose of church tithing</p>
        </a>
                <!--i class="fa fa-angle-right" aria-hidden="true"></i-->
              </div>
            </div>

            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
              <div class="card-block">
                <ul class="list-group">
                  <li class="list-group-item">Talking to God concernign His church</li>
                  <li class="list-group-item">The spiritual matter</li>
                   <li class="list-group-item">The importance of spiritual matter</li>
                    <li class="list-group-item">Spiritual impartation</li>
                     <li class="list-group-item">Donation</li>
                      <li class="list-group-item">Test yourself</li>
                       <li class="list-group-item">ACTS</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <div class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseOne"
                  class="collapsed">
          <i class="fa fa-calendar" aria-hidden="true"></i>
            <h3> Day 5</h3>
            <p>The sacred significance of church tithing</p>
        </a>
                <!--i class="fa fa-angle-right" aria-hidden="true"></i-->
              </div>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
              <div class="card-block">
                <ul class="list-group">
                  <li class="list-group-item">Dedicating your life to God</li>
                  <li class="list-group-item">The spiritual matter</li>
                   <li class="list-group-item">The importance of spiritual matter</li>
                    <li class="list-group-item">Spiritual impartation</li>
                     <li class="list-group-item">Donation</li>
                      <li class="list-group-item">Test yourself</li>
                       <li class="list-group-item">ACTS</li>
                </ul>
              </div>
            </div>
          </div>
       

        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <div class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseOne"
                  class="collapsed">
          <i class="fa fa-calendar" aria-hidden="true"></i>
            <h3> Day 6</h3>
            <p>Setting aside the tithe</p>
        </a>
                <!--i class="fa fa-angle-right" aria-hidden="true"></i-->
              </div>
            </div>
            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
              <div class="card-block">
                <ul class="list-group">
                  <li class="list-group-item">Setting aside your tithe to God</li>
                  <li class="list-group-item">The spiritual matter</li>
                   <li class="list-group-item">The importance of spiritual matter</li>
                    <li class="list-group-item">Spiritual impartation</li>
                     <li class="list-group-item">Donation</li>
                      <li class="list-group-item">Test yourself</li>
                       <li class="list-group-item">ACTS</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--accordian ends-->
    </div>
    <div class="col-md-8" id="rightSide"><div class="members_cont"> 
      <!--main content here-->
      <!--a [routerLink]="['content/day1']">Day 1</a-->
      <!--app-day1></app-->
<router-outlet></router-outlet>
      </div>
      </div>
  </div>
 </section>





