<header>

</header>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h5>Hi {{name.auth.displayName}},! Welcome to Tithing to grow in Christ</h5>
    </div>
    <div class="col-md-3">
      <div> <button (click)="logout()" class="basic-btn">Logout</button></div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
     
     
    
    <!--accordian begins-->
    <app-content-menu></app-content-menu>
<!--accordian ends-->
    </div>
    <div class="col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis felis ac nisl laoreet sagittis. Donec arcu sem, egestas
      sit amet ultricies non, aliquet maximus sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Vestibulum viverra sodales eros et feugiat. Vestibulum ante ipsum primis in faucibus orci luctus
      et ultrices posuere cubilia Curae; Fusce et nulla justo. Donec lorem ex, dictum eu dignissim id, aliquet vitae risus.
      Pellentesque eu accumsan lacus, suscipit pellentesque purus. Suspendisse maximus id nulla a interdum. </div>
  </div>
</div>





<div class="col-md-8 offset-md-2">

</div>