<section class="footer_sec1">

    <!--div class="row_foot">
<div class="row">
<div class="col-md-2">Home</div>
<div class="col-md-2">About Us</div>
<div class="col-md-2">FAQs</div>
<div class="col-md-2">Contact Us</div>
<div class="col-md-2">Donations</div>
<div class="col-md-2">Connect</div>
</div>
    </div-->
 <!--div class="row_foot">
<div class="row">

<div class="col-md-4"></div>
<div class="col-md-4">
<div class="row">
<div class="col-sm-4"><a href="https://www.facebook.com/tithingtogrowinchrist/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></div>
<div class="col-sm-4"><a href="https://twitter.com/infotithing" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></div>
<div class="col-sm-4"><a href="https://www.youtube.com/channel/UCL9XNwlpmK8wrdoA8x-cYXQ" target="_blank"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a></div>
</div>
<div class="col-md-4"></div>
</div>


</div>
 </div-->

<div class="container_1">
    <div class="row">

    <div class="col-md-6"><div class="wd">
 <div class="row"><div class="col-sm-12">
   <div class="footer_title">  <h3>Navigation</h3></div>
   </div></div>
   <div class="row"><div class="col-sm-12">
     <ul>
           <li>
             <a class="" href="/about_us">About Us</a>
       </li>
        <li>
             <a class="" href="/acheving_growth_ict">Achieving growth in our personal relationship with God in Church Tithing</a>
       </li>

 <li>
             <a class="" href="/faqs">FAQ's</a>
       </li>

        <li>
             <a class="" href="/how_i_grow">How I grow in my loving relationship with God</a>
       </li>
        <li>
             <a class="" href="/Gods_rubric">God's Rubric in church tithing</a>
       </li>
        <li>
             <a class="" href="/the_abraham_factor">The Abraham Factor</a>
       </li>
 <li>
             <a class="" href="/biblical_assumption_of_giving">The Biblical assumption in church tithing</a>
       </li>
       
       
        <li>
             <a class="" href="/five_christain_persuasions">The five Christian persuations of Church tithing</a>
       </li>
       
        <li>
             <a class="" href="/the_God_factor">The God Factor</a>
       </li>
        <li>
             <a class="" href="/the_growth_factor">The Growth Factor</a>
       </li>
      
      
      
       
       
       
      
       
     </ul>
            </div></div>
       </div></div>

       <div class="col-md-3"><div class="wd">
         <div class="row"><div class="col-sm-12">
     <div class="footer_title"> <h3>Register for free</h3></div>
           
           </div></div>
            <div class="row"><div class="col-sm-12">Create a free account and register to access a 6 Day devotional
          <a class="nav-link active" href="/members"><span>Start Devotional</span></a>
           </div></div>
       </div></div>

       <div class="col-md-3"><div class="wd">
          <div class="row"><div class="col-sm-12">
          <div class="footer_title">   <h3> Connect</h3></div>
            </div></div>
          <div class="row">
<div class="col-sm-4"><a href="https://www.facebook.com/tithingtogrowinchrist/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></div>
<div class="col-sm-4"><a href="https://twitter.com/infotithing" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></div>
<div class="col-sm-4"><a href="https://www.youtube.com/channel/UCL9XNwlpmK8wrdoA8x-cYXQ" target="_blank"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a></div>
</div>
         </div> 
   
    </div></div>
    </div>

<footer>
    <div class="ft">All Rights Reserved - Tithing to grow in Christ Project - Copyright - 2017</div>
  </footer>
</section>

<!--section class="footer_sec">
  <footer>
    <div>All Rights Reserved - Tithing to grow in Christ Project - Copyright - 2017</div>
  </footer>
</section-->