.navbar-brand{
    height: 60px;
}

.navbar-light .navbar-brand {
color: #1976D2;
font-family: 'Lato', sans-serif;
font-weight: bold;
font-size: 18px;

}
navbar, .navbar-toggleable-md, .navbar-light, .bg-faded {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.10), 0 6px 10px 0 rgba(0,0,0,.10), 0 1px 18px 0 rgba(0,0,0,.10);
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #545454;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.1rem;
    padding-bottom: .59rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.bg-faded {
    background-color: white;
    }

    .navbar {
    /*overflow: hidden;*/
     z-index: 99;
    position: fixed; 
    width: 100%; 
    /* Set the navbar to fixed position */
   /* top: 0; /* Position the navbar at the top of the page */
    /* Full width */
}

.navbar-light .navbar-toggler {
     border-color: #ffffff;
}

.navbar-toggler-icon {
margin-left: 90%;
}
/*
colors
orange: #FFC107
green: #4CAF50
blue: #2196F3

font-family: 'Cairo', sans-serif;

*/