.navbar-brand{
    height: 60px;
}

.navbar-light .navbar-brand {
color:#ffffff;

}
navbar, .navbar-toggleable-md, .navbar-light, .bg-faded {
    border-bottom: 2px;
    border-bottom-color: #ffa500;
}

.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    color: #ffffff;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: orange;
}
.navbar-brand {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: .59rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.bg-faded {
    background-color:#000000;
    }

    .navbar {
    /*overflow: hidden;*/
     z-index: 99;
    position: fixed;
    width: 100%;
    padding: 0px 50px;
    border-bottom: 2px solid orange;

    /* Set the navbar to fixed position */
   /* top: 0; /* Position the navbar at the top of the page */
    /* Full width */


}

.navbar-light .navbar-toggler {
     border-color: #ffa500;
}

a.nav-link.lg{
    font-weight: 700;
    color:#ffffff;
}

a.nav-link.lg span{
  background-color: #ffa500;
  padding: 5px;
  border-radius: 5px;
}

.navbar-toggler-icon {
margin-left: 90%;
}
.nav-link.active{
    color: #ffa500!important;
    padding-right: 5px;
}
.nav-pills .nav-link.active{
    background-color: orange;
}
.nav-link {
    display: block;
    padding: .2em 1em;
}


/*
colors
orange: #FFC107
green: #4CAF50
blue: #2196F3

font-family: 'Cairo', sans-serif;

*/


