<nav class="navbar navbar-toggleable-md nav-pills navbar-light bg-faded navbar-fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img src="assets/images/LOGO.png" width="60px"> TITHING TO GROW IN CHRIST</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-md-0">
      <!--li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> 
      </li-->
      <li class="nav-item">
        <a class="nav-link active" (click)="members()"><span>Free Devotional</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="about_us()">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="faqs()">FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="donations()">Donations</a>
      </li>
      <li>
        <a class="nav-link lg" (click)="handleLoginLogoutLink()">{{ loginLogoutLink }}</a>
      </li>
    </ul>
   
  </div>
</nav>
