<div class="container">

  <div class="title">
    Welcome to Time-to-fill Metric. Please select specific city on the left menu to view
    <h5 class="tp">Statistics</h5>

<div class="row">
  <div class="col-md-6">

<div class="row top_st">
  <div class="col-sm-4">2016</div><div class="col-sm-4">Highest</div> <div class="col-sm-4">Lowest</div>
</div>
<div class="row">
  <div class="col-sm-4">Month</div><div class="col-sm-4">June - 151</div> <div class="col-sm-4">July - 4</div>
</div>

  </div>
  <div class="col-md-6">
<div class="row top_st">
  <div class="col-sm-4">2017</div><div class="col-sm-4">Highest</div> <div class="col-sm-4">Lowest</div>
</div>
<div class="row">
  <div class="col-sm-4">Month</div><div class="col-sm-4">June - 150</div> <div class="col-sm-4">March - 42</div>
</div>


  </div>
</div>

</div>

<!--div class="cont">

</div-->
<div class="row">
  <div class="col-md-12">
    <!--klip statrs-->
    <div class="boxR">

<iframe src="https://app.klipfolio.com/published/d2211d98d2a1ea5791d5302e086af584/time-to-fill" id="my-iframe" scrolling="no"></iframe>
    </div>
    <!--klip ends-->
  </div>
  <!--div class="col-md-6">


 <div class="boxR">

 </div>
  </div-->
</div>
  </div>
