<div class="container">

  <div class="title">
   First Year attrition rate for Continental
    <!--h5- class="tp">Statistics</h5-->



</div>


<div class="row">
  <div class="col-md-12">
    <!--klip statrs-->
    <div class="boxR">

<iframe src="https://app.powerbi.com/view?r=eyJrIjoiYTAwMjlkNDctZmFjYS00OTRmLWIyODUtN2NjNzRjMWYxYWI1IiwidCI6ImZiOGNkZWJjLTI2MWEtNDI3Yy1hZWI3LWFkMTFhMzExODY1NSIsImMiOjF9" id="my-iframe" scrolling="no"></iframe>
    </div>
    <!--klip ends-->
  </div>
  <!--div class="col-md-6">


 <div class="boxR">

 </div>
  </div-->
</div>
  </div>
