<div class="module1">
  <div class="outer">
    <div class="middle">
      <div class="inner1">
        <div class="text_over">
          <div>
            <h1 class="five_per">
              The Growth Factor in Church Tithing
            </h1>
          </div>
          <div>
            Achieving Growth in our Personal Relations with God in Church Tithing
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="first_sec">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text_body">

          <p>
            As the father of the Church, Abraham’s experience of growth in his personal relations with God, following his tithing is
            what gives us the benchmark to seek growth in our personal relations with God, in Church tithing. What powered
            Abraham into receiving the growth experience in his personal relations with God, following his tithing?
          </p>

          <p>
            Many of us have not considered the spiritual and the sacred context that powered Abraham to give his tithes, and then, as
            an outcome, receive the experience of growth in his personal relations with God. What was this spiritual and
            sacred context?
          </p>
          <p>
            1 First, let’s note that as the priest of God, Melchizedek represented God in his engagement with Abraham (Genesis 14:18),
            and that characterizes their meeting as a spiritual and a sacred engagement between God and Abraham. 2 Furthermore,
            Melchizedek brought forth bread and wine (Genesis 14:18), which means he had a fellowship of communion with Abraham.
            3 A third thing to note is that Melchizedek declared to Abraham the word of God concerning God’s personal influence
            in the winning of the battle against the kings (Genesis 14:19-20), which unveiled not only the personal nature
            of God to Abraham, but also, that God can be related to, personally. 4 Fourthly, based on Abraham’s response
            to the king of Sodom (Genesis 14:21-23), we are to note that Melchizedek dedicated him to God, and received his
            pledge to distance himself from the king of Sodom, who perhaps symbolizes the lustful things of the world.
          </p>
          <p>

            The above items give us the spiritual and sacred things that Abraham was involved with, prior to, or in the context of the
            giving of his tithes. It appears by Melchizedek, that Abraham was engaged in a type of devotional activity with
            God, before he gave the tithes, or in the process of giving his tithes. The nature of the devotional activity
            with God unveiling His personal nature to Abraham would impact his personal relations with God to give him the
            growth experience in his trust (Genesis 24:40, Romans 4:21, Hebrews 11:17-19), love (Genesis 22:12), and holiness
            to God (Genesis 17:1), as well as the integrity of the personal presence and influence of God in his life (Genesis
            24:40).

            <p>
              We see here that Abraham’s tithing was connected to a devotional activity with God to give him growth in his personal relations
              with Him. In making Abraham the father of the Church, God was also benchmarking with him the spiritual and
              the sacred approach that Church tithers are to give to the practice of Church tithing; that would result in
              growth in their personal relations with Him. It is this understanding of God’s work in Abraham’s tithing that
              gives us the framework for ‘Tithing to Grow in Christ’.

            </p>
            <p>
              Tithing to Grow in Christ is an approach to Church tithing that situates church tithers into the discipline of having a devotional
              time with God, before they give their tithes at church, with the goal of growing in their personal relations
              with God, by having fulfillments in the <a href="/five_christain_persuasions">Five Christian Persuasions of Church Tithing</a>.

            </p>


            <p>
              The diligence we give to the ritual of having a quality devotional time with God regarding the Five Christian Persuasions
              of Church Tithing, prior to the giving of our tithes at church is how we make our tithing count for growth
              in our trusting and loving relations with God; all together allowing that diligence to impact our Christian
              formation.

            </p>

        </div>

      </div>
    </div>
  </div>
</section>