
<div class="module1">
 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
    <div><h1 class="five_per">
      About Us
    </h1>
    </div>
    <div>
      Who We are
    </div>
  </div></div></div></div>
</div>
<section class="first_sec"> 

  <div class="container"> 
    <div class="row"> 
      <div class="col-md-12">
        <div class="text_body"> 

          <p>
            The Tithing to Grow in Christ Project is a satellite ministry of the Church Tithing Institute that seeks to optimize the spiritual and financial vitality of the local Church, through Church tithing. This is our Vision.
          </p>

          <p>
            We view ourselves as a para-church ministry, coming alongside the local church to help church tithers take charge of the giving of their tithes, and have it count for growth in their personal relations with God; by having fulfillments in the <a href="/five_christain_persuasions">Five Christian Persuasions of Church Tithing</a>. This is our Mission.
          </p>
          <p>
            We stand by this mission, because it has its evidence in the Church tithing that God set up with Abraham, as an example for the Church to emulate.  
          </p>
<p>

  Our purpose is education for impacting the culture and practice of tithing that plugs church tithers into the God’s Rubric for Church Tithing, aimed at securing the values of Church tithing for Church tithers, and its overall benefits for the local church.

</p>
<h4>The Values of Church Tithing
</h4>
<ul>
<li>	Boosting Church tithers’ pursuit of building and cultivating their personal relationship with God</li>
<li>	Enabling Church tithers to grow in their loving and trusting relations with God</li>
<li>	Focusing Church tithers to grow in the measure of his/her part in the body of Christ</li>
<li>	Sustaining Church tithers’ commitment to live and to serve God alone, and distancing themselves from the lustful things of the world</li>
<li>	Helping Church tithers to keep their commitment to the advancement of the cause of Christ and His kingdom</li>
<li>	Resourcing the demands for the living upkeep/necessities that come with the administration of the High Priestly ministry of Christ on earth, by and for the Church</li>
<li>	Allowing Church tithers to continuously experience the integrity of God’s personal presence and influence in their lives </li>
<li>	Positioning Church tithers to receive the overflowing abundance of the goodness God in their lives</li>
</ul>

<h4>
  The Benefits of Church Tithing 
</h4>
<ul>
<li>	Optimizes the Church’s Spiritual and financial vitality</li>
<li>	Fosters a healthy and a vibrant community of God’s family</li>
<li>	Endows the Church to fulfill her mandate in advancing the cause of Christ and His kingdom</li>
<li>	Enables the Church to expand her local and global influence and reach</li>
<li>  Frees Church leadership to seek the counsel of God in consecration, to provide effectual guidance and direction for the local church</li>

</ul>
        </div>

      </div>
    </div>
  </div>
</section>
