<div class="module1" style="background-image: url('assets/images/flower.jpg');" [@fallIn]='state'>
 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
    <div><h1 class="five_per">
      Day 1 
    </h1>
    </div>
    <div>
      The aim of church tithing
    </div>
    <div class="sm_btn">
                          <button type="button" class="btn btn-primary" [routerLink]="['/content/day1_1']">Begin</button>
                        </div>
  </div></div></div></div>
  <div class="direct">
    <div class="next"><a [routerLink]="['/content/day1_1']">Next>></a></div>
</div>
</div>