
<section id="first_sec" [@fallIn]="state">
<div class="container" >
<div class="left">

  <div class="left_side">


<div class="content">
    <div><p>Time to fill based on</p></div>
   <p> <button type="button" class="btn btn-success"> <a [routerLink]="['main_ttf']">Location and Division</a></button></p>
   <p> <button type="button" class="btn btn-success"> <a [routerLink]="['fya_sumter']">Month and Year</a></button></p>

   <div><p>First year attrition rate based on</p></div>
    <p><button type="button" class="btn btn-success"> <a [routerLink]="['fya_main']"> Job Title & Gender</a></button></p>
    <p> <button type="button" class="btn btn-success"> <a [routerLink]="['exe_sumter']">Reasons for leaving</a></button></p>

    <div><P>POWER BI</P></div>
   <p><button type="button" class="btn btn-success"><a [routerLink]="['exe_charlotte']">First Year attrition rate</a></button></p>
</div>

  </div>



</div>
<div class="right">

  <div class="right_side">
<router-outlet></router-outlet>
  </div>

</div>
</div>
</section>
