<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    THE SPIRITUAL MATTER
    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
   Question to Consider : 
</h4>
    <p>
What is the sacred significance of the giving of my tithes at church?

</p>
<h4 class="question">Response to Consider:
</h4>
<p>
I am tithing to:
 
</p>
<p>
 Strengthen my covenant and sacred relations with God.

</p>


<h4 class="question">Question:</h4>
<p>Why is this the sacred significance for the giving of my tithes?

</p>

<h4 class="question">Insightful Commentary
</h4>By Samuel Kirk Mills
<p>
Through Melchizedek, God established the sacred nature of Church tithing by the sanctification and the consecration that he administered to Abraham, when he received his tithes; and through the personal dedication of Abraham to Him, by separating himself from the king of Sodom (the world and its lust), when he presented his tithes. 
 </p>
<p>
We know Melchizedek consecrated Abraham, when he received his tithes, based on the patriarch’s admission to the king of Sodom:  “I have lift up mine hand unto the LORD, the most high God, the possessor of heaven and earth, that I will not take from a thread even to a shoelatchet, and that I will not take any thing that is thine,” (Genesis 14:22-23). <strong>When did Abraham lift his hand to the Lord?</strong> The phrase ‘the most high God, the possessor of heaven and earth’ were part of the words Melchizedek had used to address Abraham to suggest that the patriarch most likely took that vow of consecration during their encounter, when he tithed. In connection with the consecration to serve and to live for God only, Abraham also took the stance to separate himself from the world and its lust (the king of Sodom).   
</p>

<h4 class="question">The Basis of the Sacred Nature of Tithing
</h4>
<p>
Essentially, it is Melchizedek’s sanctification and consecration of Abraham, when he received his tithes, and Abraham’s dedication to God to live and to serve Him alone, separating himself from the world and its lust (the king of Sodom), when he gave his tithes that give us the sacred significance of Church tithing. 
</p>

<h4 class="question">A Moment of Reflection

</h4>
<p>
  Take a few moment to ponder and/or meditate on the responses, the commentary, and the basis for the sacred significance of Church tithing. Internalize and let them settle in your spirit and mental consciousness.
</p>
</div>
</div>

</div>
 <div class="direct">
    <div class="prev"><a [routerLink]="['/content/day5_1']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day5_3']">Next->></a></div>
</div>
</section>
