<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    TEST YOURSELF

    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
  What do you know concerning the Aim of Church tithing? 
 
</h4>
    <p>
1). It is Abraham’s tithing that gives us the aim of Church tithing, when he got to know from Melchizedek that God is personal and can be related to personally.
</p>

<ul class="it">
    <li>True</li>
    <li>False</li>
</ul>

<p>2). What indication is there that the aim of Abraham’s tithing was a pursuit of building and cultivating personal relationship with God?
</p>
<ul class="it">
    <li>A. Following his tithing, Abraham began to have personal conversations with God, instead of building altars
    </li>
    <li>B. He went to his father’s house in Haran to share his great benefits in obeying God
    </li>
    <li>C. Following his tithing, he became wealthy in gold and cattle
    </li>
</ul>

<p>3). As the father of the Church, it is Abraham’s tithing that gives us the foundation and the legitimacy for Church tithing.
</p>

<ul class="it">
    <li>True</li>
    <li>False</li>
</ul>

</div>
</div>

</div>
<div class="sm_btn">
                       <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Answers</button>
                        </div>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <ol>
          <li>True</li>
          <li>A</li>
          <li>True</li>
          </ol>
    </div>
  </div>
</div>
</section>
