<div class="module1" style="background-image: url('assets/images/milky.jpg');">
 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
    <div><h1 class="five_per">
      The God Factor in Church Tithing
    </h1>
    </div>
    <div>
Question: How is God a Factor in Church Tithing?
    </div>
  </div></div></div></div>
</div>

<section class="first_sec">
  <div class="container">
    <div class="row">
<div class="col-md-12">
 
 
  <div class="text_body">
   <p>
Did you know, or are you aware that there is a God factor in Church tithing, by considering His influence in the tithing of Abraham to Melchizedek? The corresponding question would then be; how did God influence Abraham’s tithing to Melchizedek to give us the God’s factor in Church tithing? At least, there are couple of considerations to this question.
      </p>
<p>
  Melchizedek’s Receipt of Abraham’s Tithes
</p>
<p>
Melchizedek, we are told is the priest of the most-high God. As the priest of God, he represented God. In receiving Abraham’s tithes, it means God was pleased with Abraham’s act of tithing. Since God was pleased with the act of Abraham’s tithing, it suggests that his tithing was an act of faith, for without faith no one can please God (Hebrews 11:6). We also know from the Apostle Paul that faith comes by hearing, and hearing by the word of God (Romans 10:17). 
</p>
<p>
  In respect to the aspect of faith that comes by the hearing of the word God, the passage in Genesis 14:19-20 shows that Abraham gave tithes when he heard by Melchizedek’s declaration that it was God who gave his enemies into his hands.  Most likely, in gaining understanding of Melchizedek’s declaration of the word of God, it prompted Abraham to tithe, confirming the influence of God as a factor in his tithing. Holding the fact that the influence of God was a factor in the tithing of Abraham, it means that his tithing was not a random act, or by chance. That brings us to our second consideration to the God factor in Church tithing.
</p>
<p>The Plan of God Concerning Abraham’s Tithing
</p>
<p>
  Part of our Christian fundamental knowledge about God is that all the details of our lives on earth are of the plan of God. Millard Erickson, a Christian theologian, briefly helps us to understand the meaning of God’s plan. He defines the plan of God as God’s eternal decision rendering certain all things concerning our lives that would happen (Erickson, 1992, p. 109). God’s eternal decision simply means the decisions and the choices that God had made before time concerning a matter, a thing, or a person, for example. Erickson is pointing us to a strong fundamental position of our Christian belief, that nothing happens on earth by chance, and/or independent of God.
</p>
<p>
  In addressing the question, what made Abraham to tithe, Erickson helps us with our conclusion that Abraham’s tithing was a planned behavior from God. He did not tithe by chance, and neither did he simply tithe out of the goodness of his heart. God planned and God worked in him to tithe by bringing about the circumstances that brought him to do so. 
</p>
<p>
  Because of Ephesians 1:11 and Ephesians 3:11, we gain the understanding that God’s plan and work is largely designed by His eternal determinations in Christ. So that God’s work in the tithing of Abraham was designed by his determinate decision in Christ to be the High Priest of God to the Church, and the Church, tithing to that purpose. To state the obvious, if it were not for His determinate decision in Christ to be the High Priest of God to the Church and all that would pertain to it, including Church tithing, God would not have planned and worked in Abraham to tithe. And most probably, Abraham would not have tithed at all.
</p>
<p>
  In a nutshell, God planned and worked in Abraham to tithe, in making him the father of the Church, because he had conceived and envisioned it to be a type of giving that the Church would be made to do in relation to the High Priestly Ministry of Christ.
</p>

  </div>
  
    

  
</div>

    </div>
    </div>
    </section>

    <!--second section-->
    <!-- -->



    <!-- -->

 
    <!-- -->


