<div class="module1">
  <div class="outer">
    <div class="middle">
      <div class="inner1">
        <div class="text_over">
          <div>
            <h1 class="five_per">
              The God’s Rubric for Church Tithing
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="first_sec">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text_body">

          <p>
            From educational standpoint, rubric defines in writing what is expected of the student to get a particular grade on an assignment.
            Usually rubric has explicit criteria/categories/classifications upon which a student’s work is assessed and graded.
          </p>

          <p>
            Is there such a rubric that God established for Church tithing? As with our unfamiliarity with the possibility of Christian
            growth in Church tithing, because of what our traditional approach to tithing had been; in that same reason,
            we are not conversant with the biblical fact that there is rubric for Church tithing that God established with
            Abraham, in making him the father of the Church.

          </p>

          <p>
            We will discover that the God’s Rubric for Church Tithing speaks to the things God laid out in Abraham’s tithing that are
            to classify what constitutes Church tithing. In other words, the God’s Rubric for Church Tithing provides the
            characteristic elements that give identity to the nature of Church tithing that God established with Abraham,
            the father of the Church. It defines what we are to regard as Church tithing.

          </p>
          <p>
            It is important for the community of church tithers to become conversant with the God’s Rubric for Church Tithing in consideration
            of the imperative to achieve the credibility of what God, with the tithing of Abraham classified as Church tithing.
            And how does Abraham’s tithing bring out the God’s Rubric for Church Tithing? Our scriptural reference is:

          </p>
          <p>
            Genesis 14:17-22

          </p>

          <p>
            From what we have read, we can now gather the things that form the God’s Rubric for Church tithing. There was fellowshipping,
            with the fact that Melchizedek brought with him bread and wine. They had a fellowship of communion. There was
            also the giving of the tithes, obviously stated that Abraham gave tithes of all. There was also the dedicating
            of Abraham’s life to God, in the light of what Abraham said to the king of Sodom that he had lifted his hand
            to the Most-High God. The dedicating of Abraham’s life to God implies committing him to the kingdom agenda of
            God. What we have here at this engagement of Melchizedek and Abraham are four principal things:

          </p>


          <div class="text_squeez">
            <ol>
              <li>The giving of the tithes to God</li>
              <li>The fellowshipping with God</li>
              <li>The dedicating of life to God</li>
              <li>The committing to the Kingdom of God
              </li>


            </ol>
          </div>

          <p>
            It is these four things that give us the God’s Rubric for Church tithing. Together, they define for us what we are to regard
            as Church tithing. So that Church tithing is not only the giving of the tithes, but the sum of four essential
            elements illustrated with this diagram:

          </p>

          <div class="hold_img">
            <img src="assets/images/chart2.jpg">
          </div>

          <p>
            The credibility of Church tithing is in these four things taking place simultaneously, when we are about it. One without
            the others discredits the credibility of the nature of the practice of Church tithing that God had set up.
          </p>

          <p>
            Unfortunately, what we have as a practice of Church tithing in most local churches is a heavy focus on the giving of the
            tithes to God with little or no attention at all given to the other three elements.

          </p>
          <div class="hold_img">
            <img src="assets/images/Picture11.png">
          </div>
          In a nutshell, the God’s Rubric for Church Tithing give evidence for a new education and a new approach to the culture and
          practice of tithing in the local church. This new approach must then match with what God envisioned through Abraham
          to be the practice and the outcomes of Church tithing, by and for the Church. The Tithing to Grow in Christ Devotional
          is that ingenious approach to Church tithing designed to bring Church tithers into compliance with the God’s Rubric
          for Church Tithing, and for them to have fulfillments in the <a href="five_christain_persuasions">Five Christian Persuasions of Church Tithing;</a>          fruitfully impacting their Christian formation.



        </div>

      </div>
    </div>
  </div>
</section>