<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    DAY 3: THE IMPORTANCE OF THE SPIRITUAL MATTER
    </h1>
  </div>
</div>
<div class="cont"> 
<h4 class="question">
   Question to Consider : 
</h4>
    <p>
Do I really have to bother with growth in my trusting and loving relations with God?
</p>
<h4 class="question">Response to Ponder:
</h4>
<p><strong>Yes</strong>. It is part of being Christian to trust God, to love God, and to be holy to God, which helps you to consider the personal presence of God in your life.
</p>


<h4 class="question">Scripture Reading
</h4>
<p>Scripture reading has a way of implanting in our hearts a deep yeaning and appreciation of God.

</p>

<h4 class="question">Matthew 22:37 


</h4>
<p>And he said to him, “You shall love the Lord your God with all your heart and with all your soul and with all your mind. This is the great and first commandment.” 

</p>


<h4 class="question">Proverbs 30:5 
</h4>
<p>Every word of God is pure: he is a shield unto them that put their trust in him.

</p>

<h4 class="question">1 Peter 1:14–16 

</h4>
<p>
  As obedient children, do not be conformed to the passions of your former ignorance, but as he who called you is holy, you also be holy in all your conduct, since it is written, “You shall be holy, for I am holy.” 
</p>

<h4 class="question">A Moment of Reflection

</h4>
<p>
  Take a few moments to ponder, and/or meditate on the scriptures you have just read. Internalize the meaning each brings to you by the help of the Holy Spirit; let that meaning settle in your spirit and mental consciousness.
</p>
</div>
</div>

</div>

<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day3_2']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day3_4']">Next->></a></div>
</div>
</section>
