<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    THE IMPORTANCE OF THE SPIRITUAL MATTER
    </h1>
  </div>
</div>
<div class="cont"> 
<h4 class="question">
   Question to Consider : 
</h4>
    <p>
Do I really have to bother with the High Priestly Ministry of Christ to the Church?

</p>
<h4 class="question">Response to Ponder:
</h4>
<p><strong>Yes</strong>. It is part of being Christian to be actively involved in the work concerning the birthing, nurturing and the maturing faith life of the heirs of salvation for the glorious kingdom of God that is taking place in your local church.
</p>
<p><strong>Yes</strong>. Since Abraham the father of the Church was made to tithed to Melchizedek, the priest of the Most High God, and Christ’s Priestly Office being after his order, it is part of being Christian to tithe to the High Priestly Ministry of Christ to the Church
</p>


<h4 class="question">Scripture Reading
</h4>
<p>Scripture reading has a way of implanting in our hearts a deep yeaning and appreciation of God.
</p>

<h4 class="question">Hebrews 6:17-20 
</h4>
<p>Wherein God, willing more abundantly to shew unto the heirs of promise the immutability of his counsel, confirmed it by an oath:  That by two immutable things, in which it was impossible for God to lie, we might have a strong consolation, who have fled for refuge to lay hold upon the hope set before us:  Which hope we have as an anchor of the soul, both sure 
</p>

<h4 class="question">Matthew 6:33
</h4>
<p>But seek ye first the kingdom of God, and his righteousness; and all these things shall be added unto you.
</p>

<h4 class="question">Acts 20:35

</h4>
<p>
  I have shewed you all things, how that so laboring ye ought to support the weak, and to remember the words of the Lord Jesus, how he said, It is more blessed to give than to receive
</p>

<h4 class="question">A Moment of Reflection

</h4>
<p>
Take a few moments to ponder, and/or meditate on the scriptures you have just read. Internalize the meaning each brings to you by the help of the Holy Spirit; let that meaning settle in your spirit and mental consciousness.
</p>
</div>
</div>

</div>

<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day4_2']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day4_4']">Next->></a></div>
</div>
</section>
