<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    DAY 2: THE IMPORTANCE OF THE SPIRITUAL MATTER

    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
   Question to Consider : 
</h4>
    <p>
Is God really a personal influence in my life? Is He really the source of my life, and who provides for my daily living?

</p>
<h4 class="question">Response to Ponder:
</h4>
<p><strong>Yes</strong>. It is part of being Christian to acknowledge the personal influence of God in your life.
</p>
<p><strong>Yes</strong>. It is part of being Christian to acknowledge God as the source of your life, and that will help you to depend strongly on Him for His provisions concerning every aspect of your life. 

</p>

<h4 class="question">Scripture Reading
</h4>
<p>Scripture reading has a way of implanting in our hearts a deep yeaning and appreciation of God.

</p>

<h4 class="question">Acts 17:28

</h4>
<p>For in him we live, and move, and have our being.
</p>


<h4 class="question">Philippians 2:13

</h4>
<p>For it is God who works in you, both to will and to work for his good pleasure. 
</p>

<h4 class="question">Deuteronomy 8:17–18 
</h4>
<p>Beware lest you say in your heart, “My power and the might of my hand have gotten me this wealth.” You shall remember the LORD your God, for it is he who gives you power to get wealth that he may confirm his covenant that he swore to your fathers, as it is this day.
</p>

<h4 class="question">A Moment of Reflection

</h4>
<p>
  Take a few moments to ponder, and/or meditate on the scriptures you have just read. Internalize the meaning each brings to you by the help of the Holy Spirit; let that meaning settle in your spirit and mental consciousness.
</p>
</div>
</div>

</div>

<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day2_2']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day2_4']">Next->></a></div>
</div>
</section>
