
  .direct{
      padding-top: 1rem;
      width: 100%;
  }
  .next{
      float: right;
  }

.prev{
    float: left;
}

.modal-content {padding: 1rem;}
.btn-primary{
        box-shadow: 2px 2px 11px #666666;
        }

.sm_btn{
    left: 0;
    width: 200px;
    padding-top: 1rem;

}

.it{
    font-style: italic;
}
.outer {
    display: table;
   height: 100%;
    width: 100%;
        margin-left: 1rem;
  
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.question{
       font-family: 'Passion One', cursive;
        text-align: left;
}

.inner1{
    margin: auto;
    width: 100%;
    color: #666666;
    
    /*font-size: 1.2rem;
   font-family: 'Passion One', cursive;
   font-weight: 400;*/
  
}

.cont{
     margin: auto;
   
      padding-top: 1rem;
    
}

.five_per{
    padding-top: 1rem;
    font-family: 'Passion One', cursive;
    font-size: 2.2rem;
     text-align:left;
}
