<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    DAY 3: TEST YOURSELF

    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
What do you know concerning the Goal of Church tithing? 
</h4>
    <p>
1). It is Abraham’s tithing that gives us the goal of Church tithing, by the occurrence of growth in his trusting and loving relations with God, following the giving of his tithes to Melchizedek
</p>

<ul class="it">
    <li>True</li>
    <li>False</li>
</ul>

<p>2). What scriptural indications are there that Abraham was relatively poorer in his personal relations with God, before he gave his tithes?
</p>
<ul class="it">
    <li>A. His association with the king of Sodom, offering a peace treaty with the Canaanites  
    </li>
    <li>B. Following his tithing, he became wealthy in gold and cattle
    </li>
    <li>C. He will build an altar, when God appears to him. Compromises on Sarah, not consulting God, before going to the battle
    </li>
</ul>

<p>3). Following his tithing Abraham will no longer build altars in his relations with God. Instead, he began to have personal conversations with God.
</p>

<ul class="it">
    <li>True</li>
    <li>False</li>
</ul>

</div>
</div>

</div>
<div class="sm_btn">
                       <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Answers</button>
                        </div>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <ol>
          <li>True</li>
          <li>C</li>
          <li>True</li>
          </ol>
    </div>
  </div>
</div>
<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day3Donate']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/acts']">Next->></a></div>
</div>
</section>
