<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
   DAY 6: THE CHURCH TITHING CREED
    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 >
  My Father, the Lord, the Most-High God
The possessor of heaven and earth
Your most holy name be praised forevermore 
I bring you my tithes in honor of your holy name 
And by my tithes, I acknowledge you as my personal source
</h4>
<h4>Through my work to put bread on the table
And to meet other needs in my life
In tithing, I dedicate to you my spirit, soul, and body
In tithing, I consecrate myself to you, most Holy Father 
While I renounce my friendship with the world and its lust
</h4>
<h4>I petition that you will daily fill my life with the Holy Spirit
That I may grow in knowing you and your Holy Son, Jesus Christ 
</h4>

<h4>To whom I tithe, as the High Priest of the Most-High God 
To His Church, and to me, a member of His Holy Church 
</h4>

<h4>And for the furtherance of your kingdom, my Father
Grant me an abiding personal relationship with you 
To help my trust, my love, and my holiness to you
For yours is the kingdom, the power, and the glory
Forever and ever.</h4>

</div>


</div>

</div>
 <div class="direct">
    <div class="prev"><a [routerLink]="['/content/day6_2']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day6_4']">Next->></a></div>
</div>
</section>
