<section [@fallIn]='state' class="first">
<div class="container"> 
  
 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
  DONATIONS
    </h1>
  </div>


</div>
<div class="cont"> 

    <p>
Your donation helps others to be uplifted in the giving of their tithes and Christian formation. 

</p>

<div class="sm_btn">
                          <button type="button" class="btn btn-primary" (click)="onClickMe()">Donate Online</button>
                        </div>

                        <p>We always ensure your information is safe.
                        </p>
</div>
</div>

</div>
</div>
<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day5_4']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day5_6']">Next->></a></div>
</div>
</section>

