<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
  SPIRITUAL IMPARTATION


    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
  A Moment of Prayer

</h4>
    <p>
Prayer has a way of allowing the Holy Spirit to form in our hearts Christian values, virtues, and principles, for them to be noticeable in our living lifestyle.

</p>
<p>You are now going to talk to God concerning growth in your personal relationship with Him.
</p>


<h4 class="question"> Prayer Points
</h4>

<ul>
<li>Thank God for the gift of the integrity of His personal presence to you
</li>
<li>Pray, asking the Holy Spirit to form in your heart, a yearning for God that would deepen your love for him
</li>
<li>Pray, requesting that the Holy Spirit will form in you a heart of certainty concerning the personal presence of God, so that you will act trusting God accordingly
</li>
<li>Pray for the Holy Spirit to grant the you ability to hear God 
</li>
<li>Worship the Lord for granting your requests
</li>


</ul>

<h4 class="question">Listening to Hear from God

</h4>
<p>Please remain quiet and listen to hear God speak to you in your heart concerning what you have read about Him, and what you have talked to Him about, and/or what He would like you to know and or to do.


</p>

<h4 class="question">Notes
</h4>

<ul>
<li> In your journal, please write down what in your heart you heard God spoke to you about. 
</li>
<li> Using Google Search, or any other efficient Search tool, please find and write down a corresponding scripture or bible verse to what you heard God spoke to you about in your heart
</li>

</ul>


<h4 class="question">Psalm 63:6 

</h4>
<p>I think about you before I go to sleep, and my thoughts turn to you during the night.

</p>

<h4 class="question">A Moment of Reflection

</h4>
<p>
  Take a few moments to ponder, and/or meditate on the scriptures you have just read. Internalize the meaning each brings to you by the help of the Holy Spirit; let that meaning settle in your spirit and mental consciousness.

</p>
</div>
</div>

</div>
<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day1_3']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day1Donate']">Next->></a></div>
</div>
</section>
