<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    TEST YOURSELF

    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
What do you know concerning the Purpose of Church tithing? 
</h4>
    <p>
1). It is Abraham’s tithing that gives us the purpose of Church tithing – as a unique type of giving for the (monetary/in-kind) resourcing of the High Priestly Ministry of Christ to the Church on earth. 
</p>

<ul class="it">
    <li>True</li>
    <li>False</li>
</ul>

<p>2). What indication is there that God established in Abraham the purpose of Church tithing as a unique type of giving, for the resourcing of the High Priestly Ministry of Christ to the Church on earth?
</p>
<ul class="it">
    <li>A. There is no such indication, since Abraham randomly tithed 
    </li>
    <li>B. In making Abraham the father of the Church, God purposed and planned that he will tithe to Melchizedek, who was a type of Christ’s High Priesthood
 </li>
    <li>C. Melchizedek coming along with bread and wine, which he shared with Abraham 
 </li>
</ul>

<p>3). Abraham’s tithing was out of a cultural practice that he rendered to Melchizedek; it has nothing to do with the Church of the living God
</p>

<ul class="it">
    <li>True</li>
    <li>False</li>
</ul>

</div>
</div>

</div>
<div class="sm_btn">
                       <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Answers</button>
                        </div>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <ol>
          <li>True</li>
          <li>B</li>
          <li>False</li>
          </ol>
    </div>
  </div>
</div>
<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day4_5']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/acts']">Next->></a></div>
</div>
</section>
