<div class="module1" style="background-image: url('assets/images/outside.jpg');">
 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
    <div><h1 class="five_per">
      The Abraham Factor in Church Tithing
    </h1>
    </div>
    <div>
Question: How is Abraham a Factor in Church Tithing?
    </div>
  </div></div></div></div>
</div>

<section class="first_sec">
  <div class="container">
    <div class="row">
<div class="col-md-12">
 
  <div class="heading_sub"><p>The significance of Abraham in God’s program for the Church, and for that matter a foundation to the education and the practice of Church tithing is given to us by the following scriptures:</p></div>
  <div class="text_body">
   <ul>
     <li>Romans 4:11-13</li>
     <li>Galatians 3:27-29</li>
     <li>John 8:38-39 </li>
   </ul>

  </div>
   <div class="text_body">
         <p>  By these scriptures, Abraham is portrayed as the father of the Christian faith, and for that matter the father of the Church. As the father of all those who believe, Abraham stands out as the one special and significant person that God would model the foundation, the order, the experiences, and the practices of the Christian faith. 
         </p>
          </div>
          <div class="text_body">
    <p>   The illustration below helps us to conceptualize God’s big idea in making Abraham the father of the Christian faith. As the foundation for His Church program, it comprised the sum of at least eight subsets of benchmarks that He set up in the patriarch of our faith. These are to be discernible experiential features in the make-up of the Church. So that one without the rest or the rest without one would distort the Church’s credibility of being the children of Abraham, and or for that matter the body of Christ.          

    </p>
          </div>

  
</div>

    </div>
    </div>
    </section>

    <!--second section-->
    <!-- -->

<section id="second">
  <div class="container">
    <div class="row">
<div class="col-md-12">
  
  <div class="text_body_img">
 <img src="assets/images/Picture1.png">

  </div>

  
</div>

    </div>
    </div>
    </section>

    <!-- -->

     <section class="first_sec">
   <div class="container">
     <div class="row">

       <div class="col-md-12">
         <div class="text_body">
         The lesson from the foregoing discussion is that we need to study the tithing of Abraham to retrieve the grace of God given to it (such as the God’s Rubric for Church Tithing, and the Five Christian Persuasions of Church Tithing), for the benefit of the Local Church. This is important for the fact that when as a Local Church we are not tithing, then we are not following that example of Abraham set by God, therefore deficient in being the children of Abraham according to the intimations of Christ and the Apostle Paul. And when we are tithing, the practice should be in alignment with the core foundational principles that had been benchmarked in the tithing of Abraham. 
         </div>
         <div class="text_body">
<p>For further reading on the core foundational principles on Church tithing please see related articles</p>
</div>
         </div>
     </div>

   </div>
    </section>
    <!-- -->


