<div class="container">

  <div class="title">
    Welcome to First Year Attrition rate Metric.
    <P>Based on Job Title, Reason for leaving, Gender and designation</P>


<!--div class="row">
  <div class="col-md-6">

<div class="row top_st">
  <div class="col-sm-4">2016</div><div class="col-sm-4">Highest</div> <div class="col-sm-4">Lowest</div>
</div>
<div class="row">
  <div class="col-sm-4">Month</div><div class="col-sm-4">June - 151</div> <div class="col-sm-4">July - 4</div>
</div>

  </div>
  <div class="col-md-6">
<div class="row top_st">
  <div class="col-sm-4">2017</div><div class="col-sm-4">Highest</div> <div class="col-sm-4">Lowest</div>
</div>
<div class="row">
  <div class="col-sm-4">Month</div><div class="col-sm-4">June - 150</div> <div class="col-sm-4">March - 42</div>
</div>


  </div>
</div-->

</div>

<!--div class="cont">

</div-->
<div class="row">
  <div class="col-md-12">
    <!--klip statrs-->
    <div class="boxR">

<iframe src="https://app.klipfolio.com/published/2661a3c45d434eb5fbc90af49b2b6b39/first-year-attrition-rate" id="my-iframe" scrolling="no"></iframe>
    </div>
    <!--klip ends-->
  </div>
  <!--div class="col-md-6">


 <div class="boxR">

 </div>
  </div-->
</div>
  </div>
