<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    DAY 1: THE SPIRITUAL MATTER
    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
   Question to Consider : 
</h4>
    <p>
What is my aim for tithing?
</p>
<h4 class="question">Response to Consider:
</h4>
<p>I am tithing with the aim to: 
</p>
<ol>
  <li>Build strong personal relationship with God 
  </li>
  <li>Cultivate the integrity of His personal presence in my life
  </li>
</ol>

<h4 class="question">Question:</h4>
<p>Why is this the aim for my tithing?
</p>

<h4 class="question">Insightful Commentary
</h4>By Samuel Kirk Mills
<p>Abraham’s tithing to Melchizedek shows his pursuit of personal relations with God. Melchizedek’s declaration — “And he blessed him, and said, Blessed be Abram of the most high God, possessor of heaven and earth: And blessed be the most high God, which hath delivered thine enemies into thy hand,” (Genesis 14:19–20), revealed the personal nature of God and His personal influence to Abraham. And so, by the declaration of Melchizedek, Abraham came to know that God is personal, and that He can be related to personally. Abraham’s tithing therefore was a choice to relate to God, personally. The choice Abraham made to relate to God personally by tithing was the indication that his tithing was a pursuit of personal relationship with God. Following his tithing, Abraham was greatly strengthened in his personal relationship with God. 
</p>
<ul>
  <li>God established an everlasting covenant with him.</li>
  <li>Abraham no longer built altars in relating to God</li>
  <li>Abraham began having personal conversations with God</li>
</ul>

<h4 class="question">The Basis of the Aim of Tithing
</h4>
<p>The strengthening of Abraham’s personal relations with God following his tithing is what gives us the aim of Church tithing as a pursuit of building strong personal relations with God.

</p>

<h4 class="question">A Moment of Reflection

</h4>
<p>
  Take a few moment to ponder and/or meditate on the responses, the commentary, and the basis for the aim of Church tithing. Internalize and let them settle in your spirit/heart, and mind.

</p>
</div>
</div>

</div>
 <div class="direct">
    <div class="prev"><a [routerLink]="['/content/day1_1']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day1_3']">Next->></a></div>
</div>
</section>
