<section class="first">

<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
            <div class="list-group panel">
                <a href="#day1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">DAY 1 - The aim of church tithing</span> </a>
                <div class="collapse" id="day1">
                  <a href="#" class="list-group-item" data-parent="#day1">Being purpose driven with your tithe</a>
                  <a href="#" class="list-group-item" data-parent="#day1">The spiritual matter</a>
                  <a href="#" class="list-group-item" data-parent="#day1">The importance of spiritual matter</a>
                  <a href="#" class="list-group-item" data-parent="#day1">Spiritual impartation</a>
                  <a href="#" class="list-group-item" data-parent="#day1">Donation</a>
                  <a href="#" class="list-group-item" data-parent="#day1">Test yourself</a>
                  <a href="#" class="list-group-item" data-parent="#day1">ACTS</a>
                </div>

                <a href="#day2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">DAY 2 - The Objective of church tithing </span></a>
                <div class="collapse" id="day2">
                  <a href="#" class="list-group-item" data-parent="#day2">Acknowledging God's personal influence in your life</a>
                  <a href="#" class="list-group-item" data-parent="#day2">The spiritual matter</a>
                  <a href="#" class="list-group-item" data-parent="#day2">The importance of spiritual matter</a>
                  <a href="#" class="list-group-item" data-parent="#day2">Spiritual impartation</a>
                  <a href="#" class="list-group-item" data-parent="#day2">Donation</a>
                  <a href="#" class="list-group-item" data-parent="#day2">Test yourself</a>
                  <a href="#" class="list-group-item" data-parent="#day2">ACTS</a>
                </div>


                <a href="#day3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">DAY 3 - The Objective of church tithing </span></a>
                <div class="collapse" id="day3">
                  <a href="#" class="list-group-item" data-parent="#day3">Acknowledging God's personal influence in your life</a>
                  <a href="#" class="list-group-item" data-parent="#day3">The spiritual matter</a>
                  <a href="#" class="list-group-item" data-parent="#day3">The importance of spiritual matter</a>
                  <a href="#" class="list-group-item" data-parent="#day3">Spiritual impartation</a>
                  <a href="#" class="list-group-item" data-parent="#day3">Donation</a>
                  <a href="#" class="list-group-item" data-parent="#day3">Test yourself</a>
                  <a href="#" class="list-group-item" data-parent="#day3">ACTS</a>
                </div>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i> <span class="hidden-sm-down">Item 4</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-list"></i> <span class="hidden-sm-down">Item 5</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-clock-o"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-th"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-gear"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-calendar"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-envelope"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-bar-chart-o"></i> <span class="hidden-sm-down">Link</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-star"></i> <span class="hidden-sm-down">Link</span></a>
            </div>
        </div>
        <main class="col-md-8 col-xs-11 p-l-2 p-t-2">
            <a href="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-lg"></i></a>
            <hr>
            <div class="page-header">
                <h1>Bootstrap 4 Sidebar Menu</h1>
            </div>
            <p class="lead">A responsive, multi-level vertical accordion.</p>
        </main>
    </div>
</div>
</section>