<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    DAY 6: THE SPIRITUAL MATTER
    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
  You are now about to set your tithes aside.

</h4>
    <p>
But, before you finally do that prayerfully read to yourself, the Church Tithing Creed.
</p>

</div>
</div>

</div>
 <div class="direct">
    <div class="prev"><a [routerLink]="['/content/day6_1']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day6_3']">Next->></a></div>
</div>
</section>
