<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    THE SPIRITUAL MATTER
    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
   Question to Consider : 
</h4>
    <p>
What is my objective persuasion for tithing?
</p>
<h4 class="question">Response to Consider:
</h4>
<p>
  I am tithing with the objective persuasion of acknowledging God’s personal influence in my life; demonstrating that God is the source of my life,
</p>


<h4 class="question">Question:</h4>
<p>Why is this the objective of my tithing?
</p>

<h4 class="question">Insightful Commentary
</h4>By Samuel Kirk Mills
<p>
In the land of his nativity that is Ur of Mesopotamia, before God appeared to him, Abraham served other gods (Joshua 24). In serving other gods, it was most likely that Abraham viewed God only as an impersonal Being. The building of an altar at any time God appeared to him was a key indication that Abraham’s view of God only as impersonal was not renewed, when he was initially brought into the Land of Canaan. Thus, the building of an altar at any time God appeared to him was Abraham’s way of relating to God impersonally. Abraham gained the knowledge of the view of God that He is also personal, when Melchizedek declared to him the personal influence of God in the winning of the battle against the kings. Abraham’s belief in the revealed nature of God as personal and His personal influence in his life formed the objective reason for his tithing. Abraham’s tithing was an acknowledgment he gave to the revealed personal influence of God in his life.   
</p>


<h4 class="question">The Basis of the Aim of Tithing
</h4>
<p>The tithing of Abraham as a recognition of God’s personal influence in his life is what gives us the objective of Church tithing as giving acknowledgement to God’s personal influence in our lives, glorifying God as the source of our lives, even the things we do to earn for our living on earth.

</p>

<h4 class="question">A Moment of Reflection

</h4>
<p>
  Take a few moment to ponder and/or meditate on the responses, the commentary, and the basis for the aim of Church tithing. Internalize and let them settle in your spirit/heart, and mind. 

</p>
</div>
</div>

</div>
 <div class="direct">
    <div class="prev"><a [routerLink]="['/content/day2_1']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day2_3']">Next->></a></div>
</div>
</section>
