<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    THE IMPORTANCE OF THE SPIRITUAL MATTER

    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
   Question to Consider : 
</h4>
    <p>
Do I have to be bothered with the pursuit of personal relationship with God?
</p>
<h4 class="question">Response to Ponder:
</h4>
<p><strong>Yes</strong>. It is part of being Christian to have a strong personal relationship with God, which will strengthen your trusting, and loving relations with Him.

</p>

<h4 class="question">Scripture Reading
</h4>
<p>Scripture reading has a way of implanting in our hearts a deep yeaning and appreciation of God.

</p>

<h4 class="question">Psalm 42:1–2 

</h4>
<p>As a deer pants for flowing streams, so pants my soul for you, O God. My soul thirsts for God, for the living God. When shall I come and appear before God?
</p>


<h4 class="question">Psalm 63:6 

</h4>
<p>I think about you before I go to sleep, and my thoughts turn to you during the night.

</p>

<h4 class="question">A Moment of Reflection

</h4>
<p>
  Take a few moments to ponder, and/or meditate on the scriptures you have just read. Internalize the meaning each brings to you by the help of the Holy Spirit; let that meaning settle in your spirit and mental consciousness.

</p>
</div>
</div>

</div>

<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day1_2']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day1_4']">Next->></a></div>
</div>
</section>
