<div class="module1" style="background-image: url('assets/images/flower6.jpg');" [@fallIn]='state'>
 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
    <div><h1 class="five_per">
      Day 3
    </h1>
    </div>
    <div>
      The Goal of tithing
    </div>
     <div class="sm_btn">
                          <button type="button" class="btn btn-primary" [routerLink]="['/content/day3_1']">Begin</button>
                        </div>
  </div></div></div></div>
</div>