<section [@fallIn]='state'>
 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
    <div><h1 class="five_per">
DAY 5: DEDICATING YOUR LIFE TO GOD
    </h1>
    </div>
  </div>
</div>
<div class="cont">  
    <p>
Please diligently follow every line of instruction to get the most out of this devotional.
</p>
  <div class="direct">
    <div class="next"><a [routerLink]="['/content/day5_2']">Next>></a></div>
</div>
</div>
</div>

</div>

</section>