<div class="module1">
  <div class="outer">
    <div class="middle">
      <div class="inner1">
        <div class="text_over">
          <div>
            <h1 class="five_per">
The Biblical Assumption of Giving
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="first_sec">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text_body">

          <p>
            Biblically, there is good amount of scriptural indications that correlation exits between love and giving—the one who is loved more receives much in giving from the one who is extending the love. Inversely, the one who is loved less receives less in giving from the one who is extending the love.

          </p>

          <p>
            For example, in Genesis 37:3, we learn that Israel (Jacob) loved Joseph more than all his children and made or gave him a coat of many colors. In 1Samuel 1:4–5, we are told that when the time was that Elkanah would offer, he gave to Peninnah, his wife, and all her sons and daughters portions. But unto Hannah, he gave her worthy portion for he loved Hannah. In 1Samuel 18:1–4, the Bible indicates that Jonathan gave David his military regalia—from his robe to his weapons—because he loved David as his own soul. And in Luke 7:36–47, Christ comments to Peter on the ‘sinful’ woman’s expressions of love on him: 

          </p>
          <div class="text_squeez">
            Seest thou this woman? I entered into thine house, thou gavest me no water for my feet: but she hath washed my feet with tears, and wiped them with the hairs of her head. Thou gavest me no kiss: but this woman since the time I came in hath not ceased to kiss my feet. My head with oil thou didst not anoint: but this woman hath anointed my feet with ointment. Wherefore I say unto thee, her sins, which are many, are forgiven; for she loved much: but to whom little is forgiven, the same loveth little. 
          </div>
          
          <p>
           In John 3:16, Christ reveals the heart of God for mankind: “For God so loved the world that He gave His only begotten Son that whosoever believeth in Him should not die but have everlasting life.” 

          </p>
          <p>
            With the above scriptural indications, the point is well captured that while love may not be the basis for all giving, they show that in most cases, love is a major underlining factor in the acts of giving. These scriptural examples then give us the correlation between love and giving, as represented by this diagram:

          </p>
           <div class="hold_img">
             <img src="assets/images/chart1.jpg">
           </div>
           <div class="pct_caption">
             The More one Loves the more one gives<br>
             The Less one Loves the less one gives
           </div>
            <p>
              Scripturally, if love is what powers giving, the most logical approach to optimize giving is to cultivate love. That is what God did with Abraham, in making him the father of the Church. Without much elaboration, we need to realize that God had to cultivate much love in the heart and life of Abraham towards him to the degree that he would test that love in Abraham’s heart, by asking him to sacrifice Isaac his only son. Abraham passed that test according to the standards of Christ – ‘if you love me, you will obey my commandment. 
            </p>
           
           <p>
             What more, we need to realize that God’s cultivation of love in Abraham’s heart and life began with his tithing in Genesis 14, when by Melchizedek, He declared His personal influence in Abraham’s winning of the battle against the great kings. By that declaration God revealed His personal nature to Abraham, for the patriarch to begin to relate to him personally.   

           </p>
<p>
  And so, scripturally, there is a biblical assumption that instigates a Christian approach for the optimization of giving in the local church, which is to come by the cultivation of love in our hearts towards God, by the Holy Spirit, through education.  

</p>

<p>

  With this view of the Christian approach for optimizing giving in the local church, the Church Tithing Institute advocates for a holistic Christian education that emphasizes both the teaching of financial giving on the Christian matters of financial management and stewardship; and the education that allows the Holy Spirit to cultivate love in our hearts towards God, for a habit of giving that flows out of our loving relations with God. The latter emphasis gives the objective for the Tithing to Grow in Christ Devotional APP.  The Devotional App is designed for Church tithers to have that intimacy with God in the giving of their tithes.
</p>

           

        </div>

      </div>
    </div>
  </div>
</section>