<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    DAY 4: THE SPIRITUAL MATTER
    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
   Question to Consider : 
</h4>
    <p>
What is my purpose in tithing God?
</p>
<h4 class="question">Response to Consider:
</h4>
<p>
I am tithing with the purpose of: 
 
</p>
<p>
 Resourcing and or contributing to the High Priestly Ministry of Christ to the Church, for their Christian formation – that is the birthing, nurturing, and the maturing of their Christian life.

</p>


<h4 class="question">Question:</h4>
<p>Why is this the purpose of my tithing?
</p>

<h4 class="question">Insightful Commentary
</h4>By Samuel Kirk Mills
<p>
The Bible gives us enough information about Melchizedek and Abraham that allows us to carefully ponder on what God was about in getting them to engage to the intent that He would work in Abraham to tithe to Melchizedek.  Concerning Melchizedek, we are told that the office of Christ’s High Priestly Ministry is after the order of Melchizedek (Hebrews 5:5-6). Abraham, we are told is the father of the Christian faith, the Church of Christ for that matter (Romans 4:11-13). These scriptural references should enlighten us that the engagement between Melchizedek and Abraham in Genesis Chapter 14 was not a simple random human encounter. For what they each represent in the redemptive work of God concerning mankind for the cause of Christ and His Kingdom, It was an extraordinary event, purposed and planned by God to take place. 
 </p>
<p>
  It should indicate to us that through Melchizedek, God was introducing His priestly requirement that Christ will come to fulfill for the church, and that through Abraham, He was equally establishing the unique type of giving that the church would be made to give for the catering of the priestly service of Christ on earth. Today, the substance of what is given is in the form of money and or other physical properties. We can pair Melchizedek and Christ, Abraham and the church to establish an analogous relations that bring out the purpose of Church tithing.
</p>
<p>
  In Abraham was the Church — (Galatians 3:7)
</p>
<p>
  In Melchizedek was Christ — (Hebrews 7:17)
</p>
<p>
  Abraham’s tithing to Melchizedek was the Church tithing to Christ
</p>

<h4 class="question">The Basis of the Goal of Tithing
</h4>
<p>
  The analogy that Abraham’s tithing to Melchizedek was the Church tithing to the High Priestly Ministry Christ is what gives us the purpose of Church tithing as a unique type of giving for the monetary/in-kind resourcing of the High Priestly Ministry of Christ to the Church on earth.
</p>

<h4 class="question">A Moment of Reflection

</h4>
<p>
  Take a few moment to ponder and/or meditate on the responses, the commentary, and the basis for the aim of Church tithing. Internalize and let them settle in your spirit/heart, and mind.

</p>
</div>
</div>

</div>
 <div class="direct">
    <div class="prev"><a [routerLink]="['/content/day4_1']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day4_3']">Next->></a></div>
</div>
</section>
