<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    TEST YOURSELF

    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
What do you know concerning the Objective of Church tithing? 
 
</h4>
    <p>
1). It is Abraham’s tithing that gives us the objective of Church tithing, in acknowledging the personal influence of God in his life, which He demonstrated by helping him to win the battle against the kings. 
</p>

<ul class="it">
    <li>True</li>
    <li>False</li>
</ul>

<p>2). What scriptural indication is there that the objective of Abraham’s tithing was a pursuit of acknowledging the personal influence of God in his life?
</p>
<ul class="it">
    <li>A. Going to the battle with his 318 trained men, whom he armed  

    </li>
    <li>B. Melchizedek helping him to know that the winning of his battle against the kings was by the personal help of God

    </li>
    <li>C. Following his tithing, he became wealthy in gold and cattle

    </li>
</ul>

<p>3). As the father of the Church, it is Abraham’s tithing that gives us the foundation and the legitimacy for Church tithing.

</p>

<ul class="it">
    <li>True</li>
    <li>False</li>
</ul>

</div>
</div>

</div>
<div class="sm_btn">
                       <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Answers</button>
                        </div>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <ol>
          <li>True</li>
          <li>B</li>
          <li>True</li>
          </ol>
    </div>
  </div>
</div>
<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day2Donate']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/acts']">Next->></a></div>
</div>
</section>
