<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    THE IMPORTANCE OF THE SPIRITUAL MATTER
    </h1>
  </div>
</div>
<div class="cont"> 
<h4 class="question">
   Question to Consider : 
</h4>
    <p>
Do I really have to bother with strengthening my covenant and sacred relations with God?

</p>
<h4 class="question">Response to Ponder:
</h4>
<p><strong>Yes</strong>. It is part of being Christian to remain constantly sanctified and consecrated to the Lord, which will keep you in an unbroken fellowship with Him
</p>


<h4 class="question">Scripture Reading
</h4>
<p>Scripture reading has a way of implanting in our hearts a deep yeaning and appreciation of God.
</p>

<h4 class="question">Genesis 17:1–2 

</h4>
<p>And when Abram was ninety-nine years old, the LORD appeared to Abram, and said unto him, I am the Almighty God; walk before me, and be thou perfect. And I will make my covenant between me and thee, and will multiply thee exceedingly. 
</p>

<h4 class="question">Romans 12:1–2

</h4>
<p>I beseech you therefore, brethren, by the mercies of God, that ye present your bodies a living sacrifice, holy, acceptable unto God, which is your reasonable service. And be not conformed to this world: but be ye transformed by the renewing of your mind, that ye may prove what is that good, and acceptable, and perfect, will of God. 
</p>



<h4 class="question">A Moment of Reflection

</h4>
<p>
Take a few moments to ponder, and/or meditate on the scriptures you have just read. Internalize the meaning each brings to you by the help of the Holy Spirit; let that meaning settle in your spirit and mental consciousness.
</p>
</div>
</div>

</div>

<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day5_2']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day5_4']">Next->></a></div>
</div>
</section>
