/* You can add global styles to this file, and also import other style files */

/*
colors
orange: #FFC107
green: #4CAF50
500 blue: #2196F3
700 blue: #1976D2
500 red : #F44336
700 red : #D32F2F
font-family: 'Cairo', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Ubuntu', sans-serif;


*/
.row{
  margin: auto;
}
.container{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

body{
    background-color: #ffffff!important;
    color: #666666;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
{

}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px)
{



}


@media (max-width: 600px) {


}
