/* You can add global styles to this file, and also import other style files */

/*
colors
orange: #FFC107
green: #4CAF50
500 blue: #2196F3
700 blue: #1976D2
500 red : #F44336
700 red : #D32F2F
font-family: 'Cairo', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Ubuntu', sans-serif;


*/




/*
.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  background: #E2E4E6;
  top: 10px;
  left: -5px;
  animation: spin 1.2s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
*/



/* iPad [portrait + landscape] */

body
{
  background-color: #000000;
  color: #ffffff;
  font-size: 0.9rem;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
{

}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px)
{



}


@media (max-width: 600px) {


}
