<div class="module1">
  <div class="outer">
    <div class="middle">
      <div class="inner1">
        <div class="text_over">
          <div>
            <h1 class="five_per">
              The Growth Factor in Church Tithing
            </h1>
          </div>
          <div>
            Question: How is Christian Growth a Factor in Church Tithing?
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="first_sec">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text_body">

          <p>
            For many of us, the idea of Christian Growth in Church tithing is incomprehensible. We are not familiar with that fact, because
            traditionally, what we know and are accustomed to in the giving of our tithes is to put the tithes in a designated
            envelop, and then drop it in whatever is used for the collection at church, or mail it, or use an online giving
            system with a credit/debit card. This traditional approach in tithing does not lend us the inclination to connect
            the giving of tithes to possibilities of growth in our personal relations with God.
          </p>

          <p>
            However, in turning to Abraham there is a realization of aspects of growth in his personal relations with God that followed
            his tithing. As the father of the Church, these aspects of growth following Abraham’s tithing are indications
            that growth outcomes in our personal relations with God are expected, when we are truly about Church tithing.
            It then gives us the implication that Christian growth was a factor in the Church tithing that God envisioned
            as part of his agenda in perfecting the Church in Christ, and for that matter, it would serve as part of the
            benchmarks in Church tithing that he established with Abraham (in making him the father of us all, Romans 4:16),
            for the Church.
          </p>
          <p>
            And how does the scripture register these aspects of growth following the tithing of Abraham?
          </p>
          <p>

            Before his tithing in Genesis 14, Genesis 11, 12, and 13 clearly showed that Abraham was wealthy, but relatively poorer in
            his spiritual and personal relations with God.
            <p>
              There are 3 key behaviors of Abraham that indicated that before his tithing he was relatively poorer in his personal relations
              with God, when he was initially brought to the Land of Canaan:
            </p>
            <ol>
              <li> Building altars when God appears to him </li>
              <li> Compromising on Sarah when he faced the threat of losing her and his life</li>
              <li> Going to the battle against the kings without consulting God. <br>
                <ol>These behaviors pointed out 3 things in Abraham:
                  <li> Abraham’s impersonal relations with God </li>
                  <li> Abraham’s weakness concerning his trust in God </li>
                  <li> Abraham’s lack in his dependency on God. </li>
                </ol>
              </li>

            </ol>


            <p>
              Following his tithing, Abraham was still wealthy, but became richer in his spiritual and personal relations with God. Abraham
              matured greatly in his personal relations with God marked by the increasing integrity of God’s personal presence
              in his life (Genesis 24:40), his trust (Genesis 24:40, Romans 4:21, Hebrews 11:17-19), love (Genesis 22:12),
              and holiness to God (Genesis 17:1).

            </p>
            <p>How then, are we to achieve growth in our personal relations with God through Church tithing? Please read the
              article on <a href="/acheving_growth_ict">Achieving Growth in our Personal Relations with God</a>.

            </p >
            <div style="text-align: center;">
            <h4>PEACE & MANY BLESSINGS
            </h4></div>
        </div>

      </div>
    </div>
  </div>
</section>