<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    TO GOD BE THE GLORY!
    </h1>
  </div>
</div>

    <p>
Following the declaration of the creed, you’ll now put your tithes in the designated envelope to be presented at your local church.
</p>




</div>
</div>



<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day6_3']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/day6_5']">Next->></a></div>
</div>
</section>
