
.frnt_images{
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
}
.col-sm-6 > .sm_img{
    width: 311px;
    padding: 6px;
}
.sm_btn{
    left: 0;
    width: 200px;
    padding-top: 1rem;

}
.btn-primary{
        box-shadow: 2px 2px 11px #666666;
        }


#first_sec{
    margin-top:0;
    padding: 0;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
}

#first_sec_1{
    margin-top:0;
    padding: 0;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
}

.img_left_align{
        width: 100%;
    text-align: right;
}
.img_cn_align{
    margin: auto;
    width: inherit;
    text-align: center;

}

.sec_two{
    padding: 2rem 0 2rem;
    border-top: 1px solid #eee;
   /* background-color: #F0F7FA;*/
    background-color:#D6EFFA;
}

.sec_two_text{
      padding: 1rem 0 0 0;
}

.sec_two_text_1{
      padding: 0rem 1rem 0 0;
}

.sec_two_text_2{
      padding: 1rem 1rem 0 0;
}
#sec_three{
    padding: 2rem 0 0;
     background-color: white;
}

#sec_four{
    padding: 2rem 0 2rem;
     /* background-color: #F0F7FA;*/
    background-color:#D6EFFA;
}
#sec_grad{
background: linear-gradient(#ffffff, #BBDEFB);/*#D6EFFA);*/
}

#sec_five{
    padding: 2rem 0 2rem;
    background-color: white;
}
#sec_six{
    padding: 2rem 0 2rem;
    background-color: white;
}

.main_text{
    text-align: left;
}


.main_text{
    width: 100%;
}
.text_title{
    width: 100%;
}
.img_here{
    width: 100%;
}

.big_front_img{
border-radius: 5px;
}

#sm-img.col-sm-6{
    width: inherit;
}
#sm-img1, #sm-img2, #sm-img3{
   
}

#left_big_image , #right_images{
 /*position: relative; */
 width: 100%;
 margin: auto;
 flex: 1 1 0%;
 flex-flow: column nowrap;
 align-items: stretch;
padding: 6px;
}

.text_overlay{
    position: absolute;
    bottom: 2%;
    width: 90%;
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 1.3rem;
    padding: 0 0.9rem;
}

.text_overlay span{
   
}
.small_front_img{
    border-radius: 5px;
        margin: auto;
        width: 100%;
       
}
#row_top{

}
#row_bot{

}

.center_text{
    text-align: center;
    padding: 2rem 0 2rem;
    width: 60%;
    margin: auto;
}
.cover_all{
    background-color: #ffffff;
    width: 90%;
    height: 150px;
    text-align: center;
    margin: auto;
    color: #0063B1;
}


.outer {
    display: table;
   height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}
.your_tithing{
    font-family: 'Passion One', cursive;
font-size: 48px;
color: #4CAF50;
}
.center_text span{
    border-bottom: 1px solid #999999;
}
.left_text{
    text-align-last: left;
    padding: 0rem 0 1rem;
     color: #1976D2;
}
.bib_text{
    font-family: 'Passion One', cursive;
    margin: 0;
    color: #1976D2;
}
.cover_bot{
    padding: 2rem 1rem;
}
 .p_skinny{
    width: 60%;
    margin: auto;
}

.module1 {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-size: cover;
}

.module1 > .text_over {
  position: absolute;
  width: 100%;
  padding: 20px 10px;
  width: 50%;
    color: white;
}
.module1 > .text_over > h1 {
  color: white;
  text-shadow: 0 1px 0 black;
  /*font-family: 'Passion One', cursive;*/
    float: left;
    margin-left: 2rem;
    z-index: 2;
       font-size: 3.2rem;

}
.white_bg{
    background-color: white;
}

.module1:before{
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.6);
  z-index: -2;
}
.inner1{
    margin-right: auto;
    width: 40%;
    float: left;
    margin-left: 2rem;
    color: #ffffff;
    text-shadow: 0 1px 0 black;
    font-size: 1.7rem;
   font-family: 'Passion One', cursive;
   font-weight: 400;
}
.row_foot{
    width: 50%;
    margin: auto;
    padding-bottom:1rem;
}
.five_per{
    font-size: 3.2rem;
}



 .ln>.d-block{width: 100%;}
 
.small_front_img{
     width: 100%;
     border-radius: 10px;
 }



.text_overlay{
    position: absolute;
    bottom: 6%;
    width: 90%;  
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 1.7rem;
    padding: 0 0.9rem;
}

.text_overlay >span{
   background-color: rgba(0,0,0,.6);
   padding: 2px 5px;
   border-radius: 5px;
}
.carousel-caption >h3 {
     font-family: 'Passion One', cursive!important;
font-size: 56px!important;
}
 .carousel-caption >h3 >span {
    font-size: 92px!important;
  letter-spacing: 3px;
}

 .carousel-caption >p{
    font-size: 32px!important;
}


 .carousel-caption{
    bottom: 10%!important;
}

.ln{
    color:#ffffff;
    bottom: 10%!important;
    text-decoration: none;
    width: 100%;
}
.ln >p{
    font-size: 32px!important;
}
.ln >h3 >span {
    font-size: 92px!important;
  letter-spacing: 3px;
}
.ln >h3 {
     font-family: 'Passion One', cursive!important;
font-size: 56px!important;
}