
<section id="first_sec" [@fallIn]="state">
<div class="container" >

<!--front image-->
<section class="section2">
<div class="row">

<div class="col-md-6">
  <div class="mid_txt">
  <div class="top_text">Welcome to Continental HR</div>
  <div class="bt_text">key performance indicator</div>
  <div class="bt_text1">dashboard</div>
  </div>
  </div>

<div class="col-md-6 bigiage">
<img src="../assets/images/front.png" width="80%" height="auto">
</div>


</div>
</section>
<!--front image ends here -->

<!-- four logins-->
<section class="section3">
  <div class="row_txt">I am a(n):</div>

<div class="row" id="r">

<div class="col-md-3 fntimg">
  <a class="" (click)="execute_auth()">
<img src="../assets/images/executive.png" width="100px" height="auto">
<div class="imgText">Executive</div>
</a>


</div>

<div class="col-md-3 fntimg">
    <a href="manager/">
<img src="../assets/images/manager.png" width="100px" height="auto">
<div class="imgText">Manager</div>
</a>
</div>

<div class="col-md-3 fntimg">
    <a href="reporter/">
<img src="../assets/images/reporter.png" width="100px" height="auto">
<div class="imgText">Reporter</div>
</a>
</div>

<div class="col-md-3 fntimg">
    <a href="analyst/">
<img src="../assets/images/analyst.png" width="100px" height="auto">
<div class="imgText">Analyst</div>
</a>
</div>

</div>

</section>
<!--logins ends here -->


</div> <!-- /container -->


</section>
<!--end of section one-->
