
<div class="container">
  <section id="first_sec">
  
  <div class="row">
    <div class="col-md-6"><img src ="assets/images/6.png"></div>
   
    <div class="col-md-6">
    
    <div class="row">
     <div class="col-sm-6"><img src ="assets/images/6small.png"></div> 
     <div class="col-sm-6"><img src ="assets/images/6small.png"></div> 
    </div>  

    <div class="row">
     <div class="col-sm-6"><img src ="assets/images/6small.png"> </div> 
     <div class="col-sm-6"><img src ="assets/images/6small.png"> </div> 
    
    </div>

    </div>

  </div>
  
  </section>

<section id="sec_two">
    <div class="row">
<div class="col-sm-6">
<div class="card_img">
  <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="assets/images/6small.png" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  
  </div>
</div>

</div>
</div>



<div class="col-sm-6">
<div class="card_img">
  <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="assets/images/6small.png" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
</div>
</div>
</div>
</div>
</section>

<section id="sec_three">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-12">
          <div class="text_title"><h4>Bernie Speller on five substances</h4></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="main_text">
               <p>Bernnine Speller explains the five plus principles that pastors need to know about the 
             benefits the Tithing to Grow in Christ devotional offers their local church, when members
             of their congregation combine using it with the giving of their tithes.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="img_here">
      <img src="assets/images/6small.png">
      </div>
    </div>
  </div>
</section>
    </div>

