


.sm_btn{
    left: 0;
    width: 200px;
    padding-top: 1rem;

}
.btn-primary{
        box-shadow: 2px 2px 11px #666666;
        }


#first_sec{
    margin-top:0;
    padding: 1rem 0 3rem;
    background-color: white;
}

.img_left_align{
        width: 100%;
    text-align: right;
}

.sec_two{
    padding: 2rem 0 2rem;
    border-top: 1px solid #eee;
   /* background-color: #F0F7FA;*/
    background-color:#D6EFFA;
}

.sec_two_text{
      padding: 1rem 0 0 0;
}

.sec_two_text_1{
      padding: 0rem 2rem 0 0;
}

.sec_two_text_2{
      padding: 1rem 1rem 0 0;
}
#sec_three{
    padding: 2rem 0 0;
     background-color: white;
}


#sec_four{
    padding: 2rem 0 2rem;
     /* background-color: #F0F7FA;*/
    background-color:#D6EFFA;
}
#sec_grad{
background: linear-gradient(#ffffff, #BBDEFB);/*#D6EFFA);*/
}

#sec_five{
    padding: 2rem 0 2rem;
    background-color: white;
}

.main_text{
    text-align: left;
}
.card_img{
   width: 100%;
text-align: center;
}
.card-img-top{
    width: 180px;
    margin: auto;
}

.card{
    margin: auto;
    background-color: transparent;
    border: 0px solid rgba(0,0,0,.125);

}
.card-title{
        font-size: 1.2rem;
        font-weight: 600;
        color:#0078D7;
}

.main_text{
    width: 100%;
}
.text_title{
    width: 100%;
}
.img_here{
    width: 100%;
}

.big_front_img{
border-radius: 5px;
}

#left_big_image{
 position: relative; 
}

.text_overlay{
    position: absolute;
    bottom: 2%;
    width: 90%;
    /* left: 5%; */
    font-size: 18px;
    color: white;
    font-weight: 700;
    /* margin: 0 10px 0; */
    text-align: center;
    line-height: 1.3rem;
    padding: 0 0.9rem;
}

text_overlay span{
    background-color: yellow;
}
.small_front_img{
    border-radius: 5px;
}
#row_top{
padding-bottom: 30px;
}
#row_bot{

}
.center_text{
    text-align: center;
    padding: 2rem 0 2rem;

}
.cover_all{
    background-color: #0063B1;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20px;
    margin-bottom: 5px;
    color: white;
}
#last_top{
  padding-bottom: 5px;
}
.footer_sec{
    text-align: center;
    padding: 20px 0 ;
}


.outer {
    display: table;
    /*position: absolute;*/
   height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%/*whatever width you want*/;
}
.your_tithing{

    font-family: 'Passion One', cursive;
font-size: 48px;
color: #4CAF50;
}
.center_text span{
    border-bottom: 1px solid #999999;
}
.left_text{
    text-align-last: left;
    padding: 0rem 0 1rem;
     color: #1976D2;
}
.bib_text{
    font-family: 'Passion One', cursive;
    margin: 0;
    color: #1976D2;
}