<!--section id="first_sec">
  <div class="container" [@fallIn]="state">
    <div class="row">
      <div class="col-md-6" id="left_big_image"><img class="big_front_img" src="assets/images/The5.jpg">
        <div class="text_overlay">
          <span> Making the giving of your tithes count <br>in your growth in Christ</span></div>
      </div>

      <div class="col-md-6">

        <div class="row" id="row_top">
          <div class="col-sm-6"><img class="small_front_img" src="assets/images/milky.jpg">
            <div class="text_overlay">
              The God factor in church tithing</div>
          </div>
          <div class="col-sm-6"><img class="small_front_img" src="assets/images/outside.jpg">
            <div class="text_overlay">
              The Abraham factor in church tithing</div>
          </div>
        </div>

        <div class="row" id="row_bot">
          <div class="col-sm-6"><img class="small_front_img" src="assets/images/growth.jpg">
            <div class="text_overlay">
              The Growth factor in church tithing</div>
          </div>
          <div class="col-sm-6"><img class="small_front_img" src="assets/images/phone_hand.jpg">
            <div class="text_overlay">
              How i grow in my loving relationship with God</div>
          </div>

        </div>

      </div>

    </div>

  </div>
</section-->
<!--section id="first_sec">
  <div class="container" [@fallIn]="state">
    <div class="row">
     left big image --><!--
      <div class="col-md-6" id="left_big_image"><a (click)="five_chrst_per()"><img class="big_front_img" src="assets/images/The5.jpg"></a>
        <div class="text_overlay">
          <span> Making the giving of your tithes count <br>in your growth in Christ</span></div>
      </div>
  
   right small images--><!--
      <div class="col-md-6" id="right_images">
 top right-->
       <!-- <div class="row" id="row_top">
          <div class="col-sm-6"><img class="small_front_img" src="assets/images/milky.jpg">
            <div class="text_overlay">
              The God factor in church tithing</div>
          </div>
          <div class="col-sm-6"><img class="small_front_img" src="assets/images/outside.jpg">
            <div class="text_overlay">
              The Abraham factor in church tithing</div>
          </div>
        </div>
top right ends-->
    <!-- bottom right-->
    <!--    <div class="row" id="row_bot">
          <div class="col-sm-6"><img class="small_front_img" src="assets/images/growth.jpg">
            <div class="text_overlay">
              The Growth factor in church tithing</div>
          </div>
          <div class="col-sm-6"><img class="small_front_img" src="assets/images/phone_hand.jpg">
            <div class="text_overlay">
              How i grow in my loving relationship with God</div>
          </div>

        </div>
          -->

     <!-- </div>
  end right small -->
 <!--   </div>

  </div>
</section-->
<section id="first_sec" [@fallIn]="state">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox" >
    <div class="carousel-item active"> <a class="ln" href="/five_christain_persuasions">
      <img class="d-block img-fluid" src="assets/images/slides/slide1.jpg" alt="First slide"></a>
      <div class="carousel-caption d-none d-md-block"><a class="ln" href="/five_christain_persuasions">
    <h3><span>THE FIVE CHRISTIAN</span><br> PERSUASIONS OF CHURCH TITHING</h3>
    <p>Making the giving of your tithes count <br>in your growth in Christ</p></a>
  </div>
    </div>
    <div class="carousel-item"><a class="ln" href="/five_christain_persuasions">
      <img class="d-block img-fluid" src="assets/images/slides/slide2.jpg" alt="Second slide"></a>
      <div class="carousel-caption d-none d-md-block"><a class="ln" href="/five_christain_persuasions">
       <h3><span>THE FIVE CHRISTIAN</span><br> PERSUASIONS OF CHURCH TITHING</h3>
    <p>Making the giving of your tithes count <br>in your growth in Christ</p></a>
  </div>
    </div>
    <div class="carousel-item"><a class="ln" href="/five_christain_persuasions">
      <img class="d-block img-fluid" src="assets/images/slides/slide3.jpg" alt="Third slide"></a>
      <div class="carousel-caption d-none d-md-block"><a class="ln" href="/five_christain_persuasions">
       <h3><span>THE FIVE CHRISTIAN</span><br> PERSUASIONS OF CHURCH TITHING</h3>
    <p>Making the giving of your tithes count <br>in your growth in Christ</p></a>
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>


<section id="first_sec_1">
  
<div class="container"> 

  <div class="row"> 
    <div class="col-md-3">
 <a class="small_image" href="/the_God_factor"><img class="small_front_img" src="assets/images/milky.jpg" style="width:100%">
            <div class="text_overlay">
              <span>The God factor in church tithing</span></div>
          </a>

    </div>
     <div class="col-md-3">
<a class="small_image"  href="/the_abraham_factor"><img class="small_front_img" src="assets/images/outside.jpg" style="width:100%">
            <div class="text_overlay">
              <span>The Abraham factor in church tithing</span></div>
          </a>

     </div>
      <div class="col-md-3">
        <a class="small_image" href="/the_growth_factor"><img class="small_front_img" src="assets/images/growth.jpg" style="width:100%">
            <div class="text_overlay">
              <span>The Growth factor in church tithing</span></div>
          </a>
      </div>
       <div class="col-md-3">
         <a class="small_image" href="/how_i_grow"><img class="small_front_img" src="assets/images/phone_hand.jpg" style="width:100%">
            <div class="text_overlay">
              <span>How I grow in my loving relationship with God</span></div>
          </a>
       </div>
  </div>
</div>
</section>
<!--end of section one-->


<section class="sec_two" >

  <div class="container_1">
    <div class="row">
      
       
       <div class="col-md-6">
         <div class="row">
           <div class="col-sm-12">  <div class="chart_image">
           <a href="/Gods_rubric">
          <img src="assets/images/chart2.jpg" class="oval_pic"></a></div></div>
         </div>
          <div class="row">
           <div class="col-sm-12"><a href="/Gods_rubric">
                 <h3 class="bib_text_1">The God’s Rubric for Church Tithing</h3></a></div>
         </div>
           <div class="row">
           <div class="col-sm-12"> <div class="sec_two_text_3">
                    Learn about the 4 essential things that God established with Abraham that gives credibility to your practice of Church Tithing.
                  </div></div>
         </div>
       </div>
       
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-12"> <div class="chart_image"><a href="/biblical_assumption_of_giving"><img src="assets/images/chart1.jpg" class="oval_pic"></a></div></div>
          </div>
           <div class="row">
           <div class="col-sm-12"><a href="/biblical_assumption_of_giving">
                  <h3 class="bib_text_1">The Biblical Assumption of Giving</h3></a></div>
         </div>
           <div class="row">
           <div class="col-sm-12"><div class="sec_two_text_3">
                    Learn about the giving of your tithes out of a growing loving relation with God, set on the assumption that the more one
                    loves, the more one gives, and the less one loves, the less one gives.
                  </div></div>
         </div>
        </div>
         
    </div>
  </div>
  <!--div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="outer">
          <div class="middle">
            <div class="inner">
              <div class="row">
                <div class="col-md-12">
                  <a href="/Gods_rubric">
                 <h2 class="bib_text">The God’s Rubric for Church Tithing</h2></a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="sec_two_text">
                    Learn about the 4 essential things that God established with Abraham that gives credibility to your practice of Church Tithing.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <div class="chart_image">
           <a href="/Gods_rubric">
          <img src="assets/images/chart2.jpg"></a></div>
      </div>
    </div>
  </div-->

</section>

<!--sec two end-->

<!--section class="sec_two">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="chart_image"><a href="/biblical_assumption_of_giving"><img src="assets/images/chart1.jpg"></a></div>
      </div>

      <div class="col-md-6">
        <div class="outer">
          <div class="middle">
            <div class="inner">
              <div class="row">
                <div class="col-md-12">
                  <a href="/biblical_assumption_of_giving">
                  <h2 class="bib_text">The Biblical Assumption of Giving</h2></a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="sec_two_text">
                    Learn about the giving of your tithes out of a growing loving relation with God, set on the assumption that the more one
                    loves, the more one gives, and the less one loves, the less one gives.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section-->

<section id="sec_three">
  <div class="container">
    <div class="row">
      <div class="col-md-7">

        <div class="outer">
          <div class="middle">
            <div class="inner">
              <div class="row">
                <div class="col-md-12">
                  <div class="sec_two_text">
                    <h2 class="bib_text">Bernie Speller on five spiritual substances for Tithing to grow in Christ</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="sec_two_text">
                    Bernnine Speller explains the five plus principles that pastors need to know about the benefits the Tithing to Grow in Christ
                    devotional offers their local church, when members of their congregation combine using it with the giving
                    of their tithes.</div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="sm_btn">
                    <button type="button" class="btn btn-primary" (click)="onClickMe()">Try the App today</button>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="img_here">
          <img src="assets/images/Bernie.png">
        </div>
      </div>
    </div>
  </div>
</section>

<!--New section-->


<section id="sec_grad">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center_text">
          <h2 class="your_tithing"><span>YOUR TITHING TO GROW IN CHRIST APP</span></h2>
        </div>
        
      </div>
    </div>
    

    <div class="row">
      <div class="col-md-4">
 <div class="outer">
          <div class="middle">
            <div class="inner">

        <!-- here-->
        <div class="row">
          <div class="col-md-12">
            <div class="left_text">
              <h5>EXCLUSIVELY FOR CHURCH TITHERS</h5>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="sec_two_text_1">
              <h2 class="bib_text">Get the best out of the giving your tithes.</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="sec_two_text_2">
              Before you give your tithes at church, a daily devotional time with God to have fulfilments in the 5 Christian Persuasions
              of Church Tithing will add to growth in your trusting and loving relations with Him
            </div>
          
          </div>
        </div>
            </div>
          </div>
 </div>
        <!-- -->
      </div>
      <div class="col-md-4">
        <div class="outer">
          <div class="middle">
            <div class="inner">
        <div class="img_cn_align">
          <img src="assets/images/iphone7app.png" width="350px" height="">
        </div>
            </div></div></div>
      </div>
      <div class="col-md-4">

        <div class="outer">
          <div class="middle">
            <div class="inner">

              <div class="row">
                <div class="col-md-12">
                  <div class="sec_two_text">
                    <p>
                      As a Church tither, Tithing to Grow in Chris is a quality devotional time you'll have with God, before giving your tithes
                      at church.
                    </p>The Devotional App is designed to assist you in spiritually relating to God personally in the giving
                    of your tithes. As you use this devotional guide, before presenting your tithes to God at church, you
                    wil soon find yourself experiencing seven things. These seven things are as follows:

                    <ul>
                      <li>
                        Getting closer to God
                      </li>
                      <li>Thinking about God</li>
                      <li>Praying to God</li>
                      <li>Reading about God</li>
                      <li>Honoring God</li>
                      <li>Giving to God</li>
                      <li>Hearing from God</li>
                    </ul>

                    <p>
                      The whole experience is designed to provide the grounds to grow in your trusting and loving relationship with God, and being
                      holy to Him.
                    </p>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="sm_btn">
                          <button type="button" class="btn btn-primary" (click)="onClickMe()">Try the App today</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<section id="sec_five">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center_text">
          <h2 class="bib_text"><span style="border-bottom: 1px solid gray;">Items of Interest</span></h2>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
        <div class="cover_all"><div class="cover_top"><i class="fa fa-users fa-3x" aria-hidden="true"></i></div><div class="cover_bot"><h6>Workshop for local churches</h6></div></div>
      </div>
      <div class="col-md-2">
        <div class="cover_all"><div class="cover_top"><i class="fa fa-phone fa-3x" aria-hidden="true"></i></div><div class="cover_bot"><h6>Contact Us</h6></div></div>
      </div>
      <div class="col-md-2">
        <div class="cover_all"><div class="cover_top"><i class="fa fa-users fa-3x" aria-hidden="true"></i></div><div class="cover_bot"><h6>Association of Church Tithers</h6></div></div>
      </div>
   
      <div class="col-md-2">
        <div class="cover_all"><div class="cover_top"><i class="fa fa-bullhorn fa-3x" aria-hidden="true"></i></div><div class="cover_bot"><h6>Publications</h6></div>

        </div>
      </div>
      <div class="col-md-2">
        <div class="cover_all"><div class="cover_top"><i class="fa fa-question-circle fa-3x" aria-hidden="true"></i></div><div class="cover_bot"><h6>FAQs</h6></div></div>
      </div>
      <div class="col-md-2">
        <div class="cover_all"><div class="cover_top"><i class="fa fa-refresh fa-3x" aria-hidden="true"></i></div><div class="cover_bot"><h6>Updates</h6></div></div>
      </div>
    </div>
  </div>

</section>

<section class="white_bg">
 <div class="row">
      <div class="col-md-12">
        <div class="center_text">
          <h2 class="bib_text">Paradigm Shift</h2>
        </div>
      </div>
    </div>
</section>

<div class="module1" style="background-image: url('assets/images/bg_parallax.jpg');">
 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
    <div><h1 class="five_per">
      New Way
    </h1>
    </div>
    <div>
      Before I give my tithe at church, I spend quality time with God, using tithing to grow in Christ devotional App guide.
    </div>
  </div></div></div></div>
</div>

<section id="sec_six">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="center_text">
          <h2 class="bib_text">Making it Count for Your Christian Growth</h2>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <p class="p_skinny">Traditionally, what we know and are accustomed to in the giving of our tithes is to put the tithes in a designated
          envelop, and then drop it in whatever is used for the collection. We usually go about this without a prior devotional
          time with God.<br>
        Tithing to Grow in Christ is a new approach to the giving of our tithes, which we are to accommodate with the goal
          to grow in our trusting and loving relations with God.<br>
        Tithing to Grow in Christ comes out of Abraham’s tithing, which was followed by growth in his trusting and loving
          relations with God, and in being holier to Him.<br>
       Tithing to Grow in Christ makes it necessary to have a quality devotional time with God regarding the <a href="five_christain_persuasions">Five Persuasions
          of Church Tithing</a>, before we give the tithes at church.<br>
       The diligence we give to the ritual of having a prior quality devotional time with God regarding the Five Persuasions
          of Church Tithing is how we make the giving of our tithes count for growth in our trusting and loving relations
          with God.
        </p>

      </div>
    </div>
  </div>
</section>





