<!--section class="first">

<div class="container">
    <div class="row">  
  <div class="col-md-8"><h4>Welcome to Tithing to grow in Christ</h4>
</div>
<div class="col-md-3">  <div class="logd_as">Logged in as {{ name.auth.email }}</div></div>
  <div class="col-md-1"><a (click)="logout()" class="bas_btn"><span>| Logout</span></a></div>
   </div>
</div>
</section-->

<section [@fallIn]='state' class="sec">


<div class="container">

<div class="module1" style="background-image: url('assets/images/corn.jpg');">
  <div class="outer">
    <div class="middle">
      <div class="inner1">
        <div class="text_over">
          <div>
            <h1 class="five_per">
              Your Daily Devotions
            </h1>
          </div>
     
           <div class="sm_btn">
                          <button type="button" class="btn btn-primary" routerLink="/content">Begin 6 Day Devotional</button>
                        </div>
         
        </div>
      </div>
    </div>
 
</div>    </div> </div>

  


</section>