.module1 {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-size: cover;
  border-radius: 10px;
}


.inner1{
    margin: auto;
    width: 60%;
    color: #ffffff;
    text-shadow: 0 1px 0 black;
    font-size: 1.7rem;
   font-family: 'Passion One', cursive;
   font-weight: 400;
   text-align: center;
}


.outer {
    display: table;
   height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.module1:before{
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.6);
  z-index: -2;
}

.module1 > .text_over {
  position: absolute;
  width: 100%;
  /*padding: 20px 10px;*/
  width: 50%;
    color: white;
}
.module1 > .text_over > h1 {
  color: white;
  text-shadow: 0 1px 0 black;
  /*font-family: 'Passion One', cursive;*/
    /*float: left;
    margin-left: 2rem;*/
    z-index: 2;
  

}

.five_per{
    font-size: 3.2rem;
}
.first_sec{
background-color: #ffffff;
}

.first{
    background-color: #ffffff;
}

.bas_btn {
  font-size: inherit;
    margin:0;
    text-align: right;
}
.bas_btn span{
  
}

.logd_as{
    text-align: right;
}


.btn-primary{
        box-shadow: 2px 2px 11px #333333;
        }

.sm_btn{
    left: 0;
    width: 200px;
    padding-top: 1rem;
    margin: auto;
    text-align: center;

}
@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }

   
}