<section [@fallIn]='state'>

 <div class="outer">
          <div class="middle">
            <div class="inner1">
  <div class="text_over">
<h1 class="five_per">
    TEST YOURSELF

    </h1>
   
   

  </div>


</div>
<div class="cont"> 
<h4 class="question">
What do you know concerning the Sacred significance of Church tithing? 
 
</h4>
    <p>
1). It is Abraham’s tithing that gives us the Sacred significance of Church tithing, when he gave tithes to Melchizedek, in association with dedicating his life to live and to serve God alone.
</p>

<ul class="it">
    <li>True</li>
    <li>False</li>
</ul>

<p>2). What indication is there in the scriptures that God established the sacred significance of Church tithing with Abraham?
</p>
<ul class="it">
    <li>A. Making Abraham to give his tithes in connection with dedicating his life to live and to serve Him alone
</li>
    <li>B. Making Abraham to strike a deal with the King of Sodom to get back Lot , his nephew
 </li>
    <li>C. Making Abraham to turn his back to the ruins of Ai, with his face toward Bethel
 </li>
</ul>

<p>3). As the father of the Church, it is Abraham’s tithing that gives us the foundation and the legitimacy for Church tithing
</p>

<ul class="it">
    <li>True</li>
    <li>False</li>
</ul>

</div>
</div>

</div>
<div class="sm_btn">
                       <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Answers</button>
                        </div>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <ol>
          <li>True</li>
          <li>A</li>
          <li>True</li>
          </ol>
    </div>
  </div>
</div>
<div class="direct">
    <div class="prev"><a [routerLink]="['/content/day5_5']"><<-Prev.</a></div>
    <div class="next"><a [routerLink]="['/content/acts']">Next->></a></div>
</div>
</section>
